<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">

                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <H5>{$page_title}</H5>
                        <div class="ibox-tools"><a href="javascript:void(0);" class="btn btn-xs btn-default btn-help-detail"  data-type="cst_customer"> <i class="fa fa-question-circle"> 操作说明</i></a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <form id="pagerForm" method="post" class="form-inline searchForm">
                                <div class="col-sm-12 m-b-xs text-right">
                                    <div class="input-group">
                                        <input type="text" name="keywords" placeholder="输入关键字搜索" class="form-control">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-btn"> <button type="button" class="btn btn-primary ajaxSearchForm"><i class="fa fa-search"></i> 搜索</button></span>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-btn"> <button type="button" class="btn btn-warning ajaxSearchForm resetForm"><i class="fa fa-recycle"></i> 重置</button></span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-10">
                                <lqf_link><a class="btn btn-info ajax-open"  data-url="{:url('SysModule/add')}"><i class="fa fa-plus"></i> 生成模块</a></lqf_link>
                                <lqf_link><a  class="btn btn-default btn-outline ajax-open" data-url="{:url('SysModule/upload')}"><i class="fa fa-upload"></i>导入模块</a></lqf_link>
                            </div>
                            <div class="col-sm-2 text-right">
                                <a href="javascript:void(0);" class="btn btn-default btn-outline btn-field-set" data-id="{$page_title|default=''}"> <i class="fa fa-columns"></i> 列</a>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content table-responsive">
                        <table class="table table-hover sorttable ajax-list-table" data-url="{:url('SysModule/show_json')}"
                               width="100%">
                            <thead>
                            <tr>
                                <th width="22"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
                                <th width="80">模块标题</th>
                                <th width="80">模块名称</th>
                                <th width="200">模块描述</th>
                                <th width="80">服务商</th>
                                <th width="60">版本号</th>
                                <th width="60">排序</th>
                                <th width="50">启用</th>
                                <th width="50">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot class="ibox-content">
                            <tr>
                                <td colspan="9" align="center"></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

        </div>
    </div>
</div>
<script id="tableListTpl" type="text/html">
    <% for(var i=0;i <data.length;i++) {
    visible='';
    if(data[i]['visible']=='1') visible='checked';
    %>
    <tr>
        <td><input name="user_id" class="checkboxCtrlId" value="<%=data[i]['id']%>" type="checkbox"></td>
        <td><%=data[i]['title']%></td>
        <td><%=data[i]['name']%></td>
        <td><%=data[i]['intro']%></td>
        <td><%=data[i]['author']%></td>
        <td><%=data[i]['version']%></td>
        <td><input type="text" name="sort" value="<%=data[i]['sort']%>" class="form-control w50 ajax-sort" data-url="{:url('SysModule/set_sort',array('name'=>'sort'))}" data-id="<%=data[i]['id']%>" size="5"></td>
        <td>
            <input name="visible" class="ajax-checkbox" type="checkbox"   data-url="{:url('SysModule/set_visible',array('name'=>'visible'))}"  data-id="<%=data[i]['id']%>" <%=visible%> >
        </td>
        <td>

            <p>
            <lqf_link><a  class="ajax-open" data-url="{:url('SysModule/edit',array('name'=>'visible'))}"  data-ids="{'id':'<%=data[i]['id']%>'}" >修改</a> </lqf_link>
            <% for(var j=0;j<data[i]['status_arr']['action'].length;j++) { %>
            <lqf_link>
                <a class="<%=data[i]['status_arr']['action'][j]['class']%>"
                   data-ids="{'id':'<%=data[i]['id']%>'}"
                   href="<%=data[i]['status_arr']['action'][j]['url']%>">
                    <font color="<%=data[i]['status_arr']['action'][j]['color']%>"><%=data[i]['status_arr']['action'][j]['name']%></font>
                </a>
            </lqf_link>
            <% } %>
            </p>
            <p>
            <lqf_link><a  class="ajax-get" data-url="{:url('SysModule/backup')}"  data-ids="{'id':'<%=data[i]['id']%>'}" >备份</a> </lqf_link>
            <lqf_link><a  class="ajax-get ajaxload" data-url="{:url('SysModule/synctable')}"  data-ids="{'id':'<%=data[i]['id']%>'}" >同步</a> </lqf_link>
            </p>
        </td>
    </tr>
    <% } %>
</script>
<script type="text/javascript">
    $(document).ready(function () {
        turnPage(1);//页面加载时初始化分页
    });
</script>