<div class="ibox-content">
    <form class="form-horizontal" method="post" action="{:url('MaterialColour/add')}">
        <div class="form-group">
            <label class="col-sm-2 control-label">颜色名称</label>
            <div class="col-sm-10">
                <input name="name" class="form-control" type="text" placeholder="请输入名称" value="{$info.name|default=''}"/>
                <span class="help-block m-b-none"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">缩略图 </label>
            <div class="col-sm-10">
                {assign name="litpic" value="$info.litpic|default='0'" /}
                {:hook('File', ['name' => 'litpic', 'value' => $litpic, 'type' => 'imgpath'])}
                <span class="help-block m-b-none"></span></div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">排序</label>
            <div class="col-sm-10">
                <input name="sort" class="form-control" type="text" placeholder="请输入排序" value="{$info.sort|default='10'}"/>
                <span class="help-block m-b-none"></span></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">分类介绍</label>
            <div class="col-sm-10">
                <textarea name="intro" class="form-control" placeholder="分类介绍">{$info.intro|default=''}</textarea>
                <span class="help-block m-b-none"></span></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">是否启用</label>
            <div class="col-sm-10">
                <div class="radio radio-info radio-inline">
                    <input type="radio" id="visible1" value="1" name="visible" checked>
                    <label for="visible1"> 是 </label>
                </div>
                <div class="radio radio-info radio-inline">
                    <input type="radio" id="visible0" value="0" name="visible">
                    <label for="visible0"> 否 </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                {include file="admin@layout/save_btn"}
            </div>
        </div>
    </form>
</div>