<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-title"><h5>{$page_title}</h5>
                    <div class="ibox-tools"><a class="refresh-tree">{:lang('refresh')}</a></div>
                </div>
                <div class="right_centent" style="">
                    <div id="left-tree" data-url="{:url('SysDept/get_list_tree')}"> </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="ibox float-e-margins">
                <div class="ibox-title">{$page_title}</div>
                <div class="ibox-content table-responsive">
                    <div class="row">
                        <form id="pagerForm" method="post" class="form-inline searchForm">
                            <input type="hidden" name="pid" value="">
                            <div class="col-sm-3 m-b-xs">
                                <a class="btn btn-default refresh-tree"> <i class="fa fa-refresh"> </i>{:lang('refresh')}</a>
                                <lqf_link> <a class="btn btn-info ajax-open add-btn" data-url="{:url('SysDept/add')}" data-title="用户"><i class="fa fa-plus"></i> {:lang('add')}</a></lqf_link>
                            </div>
                            <div class="col-sm-9 m-b-xs text-right">
                                <div class="input-group">
                                    <input type="text" name="keywords" placeholder="{:lang('enter keyword search')}" class="form-control">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary ajaxSearchForm"><i class="fa fa-search"></i> {:lang('search')}</button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <table class="table table-hover sorttable ajax-list-table" data-url="{:url('SysDept/show_json')}">
                        <thead>
                        <tr>
                            <th width="22"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
                            <th width="100">{:lang('department name')}</a></th>
<!--                            <th width="200">{:lang('部门描述')}</th>-->
                            <th width="60">{:lang('sort')}</th>
                            <th width="60">{:lang('enable')}</th>
                            <th width="80">{:lang('operate')}</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot class="ibox-content">
                        <tr>
                            <td colspan="5" align="center"></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script id="tableListTpl" type="text/html">
    <% for(var i=0;i<data.length;i++) {
    visible='';
    if(data[i]['visible']=='1') visible='checked';
    %>
    <tr>
        <td><input name="user_id" class="checkboxCtrlId" value="<%=data[i]['id']%>" type="checkbox"></td>
        <td><%=data[i]['name']%></td>
<!--        <td><%=data[i]['desc']%></td>-->
        <td><input type="text" name="sort" value="<%=data[i]['sort']%>" class="form-control w50 ajax-sort" data-url="{:url('SysDept/set_sort',array('name'=>'sort'))}" data-id="<%=data[i]['id']%>" size="5"></td>
        <td>
            <input name="visible" class="ajax-checkbox" type="checkbox"   data-url="{:url('SysDept/set_visible',array('name'=>'visible'))}"  data-id="<%=data[i]['id']%>" <%=visible%> >
        </td>
        <td>
            <lqf_link><a class="ajax-open" data-url="{:url('SysDept/edit')}" data-ids="{'id':'<%=data[i]['id']%>'}">{:lang('modify')}</a></lqf_link>
            <lqf_link><a class="ajax-del confirm" data-url="{:url('SysDept/del')}" data-ids="{'id':'<%=data[i]['id']%>'}">{:lang('delete')}</a></lqf_link>
        </td>
    </tr>
    <% } %>
</script>

<link href="__STATIC__/module/admin/js/plugins/bootstrap-treeview/bootstrap-treeview.min.css" rel="stylesheet">
<script src="__STATIC__/module/admin/js/plugins/bootstrap-treeview/bootstrap-treeview.js"></script>
<script src="__STATIC__/module/admin/js/lib/treeview.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        turnPage(1);
    });
</script>