<body class="gray-bg">
<div class="ibox-content">
    <form class="form-horizontal" method="post" action="{:url('ShopStaff/edit')}">
        <input type="hidden" name="id" value="{$info.id|default='0'}">
        <div class="form-group">
            <label class="col-sm-2 control-label">所在门店</label>
            <div class="col-sm-10">
                <select name="shop_id" class="chosen-select">
                    <option value="">请选择所在门店</option>
                    {volist name='$shop_list' id='vo'}
                    <option value="{$vo['id']}" {eq name="info.shop_id" value="$vo.id"} selected {/eq}>{$vo['name']}</option>
                    {/volist}
                </select>
                <span class="help-block m-b-none"></span></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">员工姓名</label>
            <div class="col-sm-10">
                <input name="name" class="form-control" type="text" placeholder="请输入员工姓名" value="{$info.name|default=''}"/>
                <span class="help-block m-b-none"></span></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">员工性别</label>
            <div class="col-sm-10">
                <div class="radio radio-info radio-inline">
                    <input type="radio" id="inlineRadio1" value="1" name="gender" {eq name="info.gender" value='1'} checked='checked' {/eq}>
                    <label for="inlineRadio1"> 男 </label>
                </div>
                <div class="radio radio-info radio-inline">
                    <input type="radio" id="inlineRadio2" value="2" name="gender" {eq name="info.gender" value='2'} checked='checked' {/eq}>
                    <label for="inlineRadio2"> 女 </label>
                </div>
                <span class="help-block m-b-none"></span>

            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">身份证号</label>
            <div class="col-sm-10">
                <input name="idcard" class="form-control" type="text" placeholder="请输入员工身份证号" value="{$info.idcard|default=''}"/>
                <span class="help-block m-b-none"></span></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">员工生日</label>
            <div class="col-sm-10">
                <input name="birthday" class="form-control datepicker" type="text" placeholder="请输入员工生日" value="{$info.birthday|default=''}"/>
                <span class="help-block m-b-none"></span></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">婚姻情况</label>
            <div class="col-sm-10">
                <input name="marriage" class="form-control" type="text" placeholder="请输入婚姻情况" value="{$info.marriage|default=''}"/>
                <span class="help-block m-b-none"></span></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">政治面貌</label>
            <div class="col-sm-10">
                <input name="politics" class="form-control" type="text" placeholder="请输入政治面貌" value="{$info.politics|default=''}"/>
                <span class="help-block m-b-none"></span></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">最高学历</label>
            <div class="col-sm-10">

                <select name="degree" class="chosen-select">
                    <option value="">请选择学历</option>
                    {volist name='$degree_list' id='vo'}
                    <option value="{$vo['id']}" {noempty name="info.degree" } {if condition="$info.degree eq $key" } selected="selected" {/if} {/noempty}>{$vo['name']}</option>
                    {/volist}
                </select>
                <span class="help-block m-b-none"></span></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">就读专业</label>
            <div class="col-sm-10">
                <input name="major" class="form-control" type="text" placeholder="请输入就读专业" value="{$info.major|default=''}"/>
                <span class="help-block m-b-none"></span></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">手机号码</label>
            <div class="col-sm-10">
                <input name="mobile" class="form-control" type="text" placeholder="请输入手机号码" value="{$info.mobile|default=''}"/>
                <span class="help-block m-b-none"></span></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">邮箱地址</label>
            <div class="col-sm-10">
                <input name="email" class="form-control" type="text" placeholder="请输入邮箱地址" value="{$info.email|default=''}"/>
                <span class="help-block m-b-none"></span></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">联系地址</label>
            <div class="col-sm-10">
                <input name="address" class="form-control" type="text" placeholder="请输入联系地址" value="{$info.address|default=''}"/>
                <span class="help-block m-b-none"></span></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">入职日期</label>
            <div class="col-sm-10">
                <input name="entry_date" class="form-control datepicker" type="text" placeholder="请输入入职日期" value="{$info.entry_date|default=''}"/>
                <span class="help-block m-b-none"></span></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">当前状态</label>
            <div class="col-sm-10">
                <select name="status" class="chosen-select">
                    <option value="">当前状态</option>
                    {volist name='$status_list' id='vo'}
                    <option value="{$key}" {noempty name="info.status" } {if condition="$info.status eq $key" } selected="selected" {/if} {/noempty}>{$vo['name']}</option>
                    {/volist}
                </select>
                <span class="help-block m-b-none"></span></div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                {include file="admin@layout/save_btn"}
            </div>
        </div>
    </form>
</div>
<script>
    $(document).ready(function () {
        $(".chosen-select.customer-sync").change(function(){
            var checktext=$(this).find("option:selected").text();
            $(this).parents('form').find('input[name="name"]').val(checktext);
        });
    });
</script>