<div class="auto-height-box">
<div class="ibox-content">
    <form class="form-horizontal" method="post" action="{:url('OaNotify/add')}">
        <div class="form-group">
            <label class="col-sm-2 control-label">{:lang('title')}</label>
            <div class="col-sm-10">
                <input name="name" class="form-control" type="text" placeholder="{:lang('title')}" required/>
                <span class="help-block m-b-none"></span></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">{:lang('recipient')}</label>
            <div class="col-sm-10">
                <select name="rece_type" class="form-control">
                    <option value="0">{:lang('all members')}</option>
                    <option value="1">{:lang('designated personnel')}</option>
                </select>
                <span class="help-block m-b-none"></span></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">{:lang('designated personnel')}</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <input type="hidden" name="rece_user_id">
                    <input type="text" name="rece_user_name" id="rece_user_name" class="form-control" placeholder="{:lang('select personnel')}" readonly>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default ajax-open" data-calback="javascript:void(0);"
                                data-url="{:url('admin/SysUser/lookup',array('input_ids'=>'rece_user_id','input_text'=>'rece_user_name'))}">{:lang('select personnel')} </button>
                    </span>
                </div>
                <span class="help-block m-b-none"></span></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">{:lang('notice content')}</label>
            <div class="col-sm-10">
                <textarea name="content" class="form-control" placeholder="{:lang('notice content')}" rows="5"></textarea>
                <span class="help-block m-b-none"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                {include file="admin@layout/save_btn"}
            </div>
        </div>
    </form>
</div>
</div>