<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <H5>{$page_title}</H5>
                        <div class="ibox-tools"><a href="javascript:void(0);" class="btn btn-xs btn-default btn-help-detail"  data-type="cst_customer"> <i class="fa fa-question-circle"> {:lang('help')}</i></a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <form id="pagerForm" method="post" class="form-inline searchForm">
                                <div class="col-sm-12 m-b-xs text-left">
                                    <div class="input-group">
                                        <input type="text" name="keywords" placeholder="{:lang('enter keyword search')}" class="form-control">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-btn"> <button type="button" class="btn btn-primary ajaxSearchForm"><i class="fa fa-search"></i> {:lang('search')}</button></span>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-btn"> <button type="button" class="btn btn-warning ajaxSearchForm resetForm"><i class="fa fa-recycle"></i> {:lang('resetting')}</button></span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-10">
                                <lqf_link><a class="btn btn-info ajax-open"  data-url="{:url('Store/user')}" width="600" height="500"><i class="fa fa-user"></i>{:lang('member information')}</a></lqf_link>
                            </div>
                            <div class="col-sm-2 text-right">
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content table-responsive">
                        <table class="table table-hover sorttable ajax-list-table" data-url="{:url('Store/apps_json')}"
                               >
                            <thead>
                            <tr>
                                <th width="22"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
                                <th width="100">{:lang('apply name')}</th>
                                <th width="500">{:lang('application introduction')}</th>
                                <th width="80">{:lang('author')}</th>
                                <th width="80">{:lang('service price')}</th>
                                <th width="80" title="{:lang('the expiration time refers to the expiration time for purchasing online upgrade services for application modules')}">{:lang('expiration time')}</th>
                                <th width="80">{:lang('latest version')}</th>
                                <th width="100">{:lang('operate')}</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot class="ibox-content">
                            <tr>
                                <td colspan="8" align="center"></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

        </div>
    </div>
</div>
<script id="tableListTpl" type="text/html">
    <% for(var i=0;i <data.length;i++) {
        visible='';
        if(data[i]['visible']=='1') visible='checked';
    %>
    <tr>
        <td><input name="user_id" class="checkboxCtrlId" value="<%=data[i]['id']%>" type="checkbox"></td>
        <td>
            <a href="http://www.07fly.net/store/<%=data[i]['name']%>.html" target="_blank" class="">
                <%=data[i]['title']%>
            </a>
        </td>
        <td><%=data[i]['description']%></td>
        <td><%=data[i]['author']%></td>
        <td><%:=data[i]['sale_price_text']%></td>
        <td><%:=data[i]['app_expire']%></td>
        <td><%=data[i]['version']%></td>
        <td>
            <lqf_link><a href="http://www.07fly.net/store/<%=data[i]['name']%>.html" target="_blank" class="text-primary">{:lang('detail')}</a> </lqf_link>
            <lqf_link><a href="<%=data[i]['demourl']%>" target="_blank">{:lang('demo')}</a></lqf_link>
            <% if(data[i]['isinstall']=='0'){ %>
            <lqf_link><a  class="ajax-open" data-url="{:url('Store/install')}"  data-ids="{'app_id':'<%=data[i]['id']%>'}"  >{:lang('install')}</a> </lqf_link>
            <% } %>
            <% if(data[i]['isupdate']=='1'){ %>
            <lqf_link><a  class="ajax-open text-danger" data-url="{:url('Store/upgrade')}"  data-ids="{'app_id':'<%=data[i]['id']%>'}" >{:lang('upgrade')}</a> </lqf_link>
            <% } %>
        </td>
    </tr>
    <% } %>
</script>
<script type="text/javascript">
    $(document).ready(function () {
        turnPage(1);
    });
</script>