<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <H5>{$page_title}</H5>
                        <div class="ibox-tools"><a href="javascript:void(0);" class="btn btn-xs btn-default btn-help-detail"  data-type="cst_customer"> <i class="fa fa-question-circle"> 操作说明</i></a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <form id="pagerForm" method="post" class="form-inline searchForm">
                                <div class="col-sm-12 m-b-xs text-right">
                                    <div class="input-group">
                                        <input type="text" name="keywords" placeholder="输入关键字搜索" class="form-control">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-btn"> <button type="button" class="btn btn-primary ajaxSearchForm"><i class="fa fa-search"></i> 搜索</button></span>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-btn"> <button type="button" class="btn btn-warning ajaxSearchForm resetForm"><i class="fa fa-recycle"></i> 重置</button></span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-10">
                                <lqf_link><a class="btn btn-info ajax-open"  data-url="{:url('Store/user')}" width="600" height="500"><i class="fa fa-user"></i>会员信息</a></lqf_link>
                            </div>
                            <div class="col-sm-2 text-right">
                                <a href="javascript:void(0);" class="btn btn-default btn-outline btn-field-set" data-id="{$page_title|default=''}"> <i class="fa fa-columns"></i> 列</a>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-hover sorttable ajax-list-table" data-url="{:url('Store/apps_json')}"
                               >
                            <thead>
                            <tr>
                                <th width="22"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
                                <th width="100">应用名称</th>
                                <th width="400">应用简介</th>
                                <th width="80">作者</th>
                                <th width="80">价格</th>
                                <th width="80">下载</th>
                                <th width="80">版本</th>
                                <th width="100">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot class="ibox-content">
                            <tr>
                                <td colspan="8" align="center"></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

        </div>
    </div>
</div>
<script id="tableListTpl" type="text/html">
    <% for(var i=0;i <data.length;i++) {
        visible='';
        if(data[i]['visible']=='1') visible='checked';
    %>
    <tr>
        <td><input name="user_id" class="checkboxCtrlId" value="<%=data[i]['id']%>" type="checkbox"></td>
        <td>
            <a href="http://www.07fly.net/store/<%=data[i]['name']%>.html" target="_blank" class="">
                <%=data[i]['title']%>
            </a>
        </td>
        <td><%=data[i]['description']%></td>
        <td><%=data[i]['author']%></td>
        <td><%:=data[i]['sale_price_text']%></td>
        <td><%=data[i]['down_a']%></td>
        <td><%=data[i]['version']%></td>
        <td>
            <lqf_link><a href="http://www.07fly.net/store/<%=data[i]['name']%>.html" target="_blank" class="text-primary">详细</a> </lqf_link>
            <lqf_link><a href="<%=data[i]['demourl']%>" target="_blank" class="text-info">演示</a></lqf_link>
            <% if(data[i]['isinstall']=='0'){ %>
            <lqf_link><a  class="ajax-open" data-url="{:url('Store/install')}"  data-ids="{'app_id':'<%=data[i]['id']%>'}"  >安装</a> </lqf_link>
            <% } %>
            <% if(data[i]['isupdate']=='1'){ %>
            <lqf_link><a  class="ajax-open text-danger" data-url="{:url('Store/upgrade')}"  data-ids="{'app_id':'<%=data[i]['id']%>'}" >升级</a> </lqf_link>
            <% } %>
        </td>
    </tr>
    <% } %>
</script>
<script type="text/javascript">
    $(document).ready(function () {
        turnPage(1);//页面加载时初始化分页
    });
</script>