
<body class="gray-bg">
<div class="wrapper wrapper-content  animated fadeInRight article">
<div class="ibox-content">
    <div class="pull-right">
        <button class="btn btn-white btn-xs ajax-open" data-url="{:url('Licence/edit',array('id'=>$info.id))}" type="button">编辑</button>
    </div>
    <div class="text-center article-title">
        <h3>{$info.name|default=''}</h3>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h3>到期日期：</h3>
            <p>{$info.expire_date|default=''}</p>
        </div>
        <div class="col-lg-12">
            <h3>备注说明：</h3>
            <p>{$info.remark|default=''}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h3>附件：</h3>
        </div>
        <div class="col-lg-12">
            {assign name="litpic" value="$info.litpic|default=''|str2arr" /}
            {volist name='litpic' id='vo'}
                <p><a href="{$vo|get_picture_url}" target="_blank"><img src="{$vo|get_picture_url}"></a></p>
            {/volist}
        </div>
    </div>

    <div class="line-bb"></div>
    <div class="row m-t-lg">
        <div class="col-sm-6">
            <h3>评论记录：</h3>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-white ajax-open" data-url="{:url('LicenceReply/add',array('licence_id'=>$info.id))}" data-calback="getReplyData();">
                <i class="fa fa-plus"></i>发表评论
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 reply-list-box" data-url="{:url('LicenceReply/show_file_json',array('licence_id'=>$info.id))}">

        </div>
    </div>

</div>
</div>

<canvas id="head_canvas_default" style="display:none"></canvas>
<script>

    $(document).ready(function () {
        getReplyData();
    });

    function getReplyData() {
        var target = $('.reply-list-box').attr("data-url");
        var html='';
        $.ajax({
            type: "POST",
            url: target,
            data: {},
            dataType: "json",
            async: false,
            success: function (data) {
                log(data);
                $.each(data,function(key,row) {

                    var str = row.create_user_name;
                    var avatar = textToImg(str);

                    html +='<div class="social-feed-box">\n' +
                        '                <div class="social-avatar">\n' +
                        '                    <a href="" class="pull-left">\n' +
                        '                        <img alt="image" src="'+avatar+'">\n' +
                        '                    </a>\n' +
                        '                    <div class="media-body">\n' +
                        '                        <a href="#">'+ row.create_user_name +'</a>\n' +
                        '                        <small class="text-muted">'+ row.create_time +'</small>\n' +
                        '                    </div>\n' +
                        '                </div>\n' +
                        '                <div class="social-body">\n' +
                        '                    <p>'+ row.remark +'</p>\n' +
                        '                </div>\n' +
                        '                <div class="row">\n' +
                        '                    <div class="col-sm-12 text-right"><p style="padding-right: 10px;">\n' +
                        '                       <a class="ajax-open" data-url="{:url(\'LicenceReply/edit\')}"  data-ids="{\'id\':\'' + row.id + '\'}" data-title="修改" data-calback="getReplyData();">修改</a>\n' +
                        '                       <a class="ajax-get" data-url="{:url(\'LicenceReply/del\')}"  data-ids="{\'id\':\'' + row.id + '\'}" data-title="修改" data-calback="getReplyData();">删除</a>\n' +
                        '                    </p></div>\n' +
                        '                </div>\n' +
                        '            </div>';
                });

                $('.reply-list-box').html(html);

            },
            complete: function () {

            }
        });
    }


</script>