<div class="ibox-content">
    <form class="form-horizontal" method="post" action="{:url('MaterialStore/add')}">
        <div class="form-group">
            <label class="col-sm-2 control-label">仓库名称</label>
            <div class="col-sm-10">
                <input name="name" class="form-control" type="text" placeholder="请输入名称" value="{$info.name|default=''}"/>
                <span class="help-block m-b-none"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">仓管人员</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <input type="hidden" name="manage_user_id">
                    <input type="text" name="manage_user_name"  class="form-control" placeholder="选择指定人员" readonly>
                    <span class="input-group-btn">
                        <button type="button"  class="btn btn-default ajax-open"
                                data-calback="javascript:void(0);"
                                data-url="{:url('admin/SysUser/lookup',array('input_ids'=>'manage_user_id','input_text'=>'manage_user_name'))}">
                            选择人员
                        </button>
                    </span>
                </div>
                <span class="help-block m-b-none"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">排序</label>
            <div class="col-sm-10">
                <input name="sort" class="form-control" type="text" placeholder="请输入排序" value="{$info.sort|default='10'}"/>
                <span class="help-block m-b-none"></span></div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                {include file="admin@layout/save_btn"}
            </div>
        </div>
    </form>
</div>