<body class="gray-bg">
<div class="wrapper wrapper-content animated">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{$page_title}</h5>
                    <div class="ibox-tools"></a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <form id="pagerForm" method="post" class="form-inline searchForm">
                            <div class="col-sm-12 m-b-xs text-right">
                                <div class="form-group">
                                    <input type="text" name="begin_rangedate" class="form-control w50 daterange-btn" placeholder="选择开始日期范围">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="end_rangedate" class="form-control w50 daterange-btn" placeholder="选择到期日期范围">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="keywords" placeholder="输入关键字搜索" class="form-control">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-btn"> <button type="button" class="btn btn-primary ajaxSearchForm"><i class="fa fa-search"></i> 搜索</button></span>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-btn"> <button type="button" class="btn btn-warning ajaxSearchForm resetForm"><i class="fa fa-recycle"></i> 重置</button></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-10">
                            <lqf_link><a class="btn btn-info ajax-open"  data-url="{:url('HrmStaffReward/add')}"><i class="fa fa-plus"></i> 添加</a></lqf_link>
                        </div>
                        <div class="col-sm-2 text-right">
                            <a href="javascript:void(0);" class="btn btn-default btn-outline btn-field-set" data-id="{$page_title|default=''}"> <i class="fa fa-columns"></i> 列</a>
                        </div>
                    </div>
                </div>
                <div class="ibox-content table-responsive">
                    <table class="table table-hover sorttable ajax-list-table" data-url="{:url('HrmStaffReward/show_json')}" width="100%">
                        <thead>
                        <tr>
                            <th width="22"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
                            <th width="60" class=""><span>类型</span></th>
                            <th width="100" class=""><span>主题内容</span></th>
                            <th width="80" class=""><span>奖罚日期</span></th>
                            <th width="80" class=""><span>所属员工</span></th>
                            <th width="120" class=""><span>备注说明</span></th>
                            <th width="80" class="text-center">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot class="ibox-content">
                            <tr>
                                <td colspan="10" align="center"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="tableListTpl" type="text/html">
    <% for(var i=0;i<data.length;i++) { %>
    <tr>
        <td><input name="id" class="checkboxCtrlId" value="<%=data[i]['id']%>" type="checkbox"></td>
        <td class=""><%=data[i]['typename']%></td>
        <td class="">
            <a class="ajax-open " data-url="{:url('HrmStaffReward/detail')}"  data-ids="{'id':'<%=data[i]['id']%>'}">
            <%=data[i]['name']%>
            </a>
        </td>
        <td class=""><%=data[i]['curr_date']%></td>
        <td class=""><%=data[i]['staff_name']%></td>
        <td class=""><%:=data[i]['remark']%></td>
        <td class="text-center">
            <lqf_link><a class="ajax-open " data-url="{:url('HrmStaffReward/edit')}"  data-ids="{'id':'<%=data[i]['id']%>'}">修改</a></lqf_link>
            <lqf_link><a class="ajax-del confirm" data-url="{:url('HrmStaffReward/del')}" data-ids="{'id':'<%=data[i]['id']%>'}">删除</a></lqf_link>
        </td>
    </tr>
    <% } %>
</script>
<script type="text/javascript">
    $(document).ready(function () {
        turnPage(1);//页面加载时初始化分页
    });
</script>