<body class="gray-bg">
<div class="ibox-content">
    <form class="form-horizontal" method="post" action="{:url('MeetingReply/add')}">
        <input type="hidden" name="meeting_id" value="{$meeting_id|default='0'}">
        <div class="form-group">
            <label class="col-sm-2 control-label">记录说明</label>
            <div class="col-sm-10">
                <textarea class="form-control" name="remark"></textarea>
                {:hook('ArticleEditor', ['name' => 'remark','type'=>'simple'])}
                <span class="help-block m-b-none"></span></div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                {include file="admin@layout/save_btn"}
            </div>
        </div>
    </form>
</div>