<body class="gray-bg">
<div class="wrapper wrapper-content animated">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{$page_title}</h5>
                    <div class="ibox-tools"></a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <form id="pagerForm" method="post" class="form-inline searchForm">
                            <input type="hidden" name="listtype" value="{$listtype}">
                            <div class="col-sm-12 m-b-xs text-right">
                                <div class="form-group">
                                    <input type="text" name="entry_rangedate" class="form-control w50 daterange-btn" placeholder="选择入职日期范围">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="quit_rangedate" class="form-control w50 daterange-btn" placeholder="选择离职日期范围">
                                </div>
                                <div class="form-group text-left">
                                    <select name="status" class="">
                                        <option value="">员工状态</option>
                                        {volist name='$status_list' id='vo'}
                                        <option value="{$key}">{$vo['name']}</option>
                                        {/volist}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="keywords" placeholder="输入关键字搜索" class="form-control">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-btn"> <button type="button" class="btn btn-primary ajaxSearchForm"><i class="fa fa-search"></i> 搜索</button></span>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-btn"> <button type="button" class="btn btn-warning ajaxSearchForm resetForm"><i class="fa fa-recycle"></i> 重置</button></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-10">
                            <lqf_link><a class="btn btn-info ajax-open"  data-url="{:url('HrmStaff/add')}"><i class="fa fa-plus"></i> 添加</a></lqf_link>
                        </div>
                        <div class="col-sm-2 text-right">
                            <a href="javascript:void(0);" class="btn btn-default btn-outline btn-field-set" data-id="{$page_title|default=''}"> <i class="fa fa-columns"></i> 列</a>
                        </div>
                    </div>
                </div>
                <div class="ibox-content table-responsive">
                    <table class="table table-hover sorttable ajax-list-table" data-url="{:url('HrmStaff/show_json')}" width="100%">
                        <thead>
                        <tr>
                            <th width="22"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
                            <th width="80" class="text-center"><span>员工名称</span></th>
                            <th width="60" class="text-center"><span>姓别</span></th>
                            <th width="100" class="text-center"><span>身份证号</span></th>
                            <th width="80" class="text-center"><span>员工生日</span></th>
                            <th width="60" class="text-center"><span>婚姻情况</span></th>
                            <th width="60" class="text-center"><span>政治面貌</span></th>
                            <th width="80" class="text-center"><span>最高学历</span></th>
                            <th width="80" class="text-center"><span>就读专业</span></th>
                            <th width="80" class="text-center"><span>手机号码</span></th>
                            <th width="60" class="text-center"><span>邮箱地址</span></th>
                            <th width="120" class="text-center"><span>联系地址</span></th>
                            <th width="80" class="text-center"><span>入职日期</span></th>
                            <th width="80" class="text-center"><span>转正日期</span></th>
                            <th width="80" class="text-center"><span>离职日期</span></th>
                            <th width="50" class="text-center"><span>状态</span></th>
                            <th width="80" class="text-center">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot class="ibox-content">
                            <tr>
                                <td colspan="17" align="center"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="tableListTpl" type="text/html">
    <% for(var i=0;i<data.length;i++) { %>
    <tr>
        <td><input name="id" class="checkboxCtrlId" value="<%=data[i]['id']%>" type="checkbox"></td>
        <td  class="text-center"><%=data[i]['name']%></td>
        <td class="text-center"><%=data[i]['gender']%></td>
        <td class="text-center"><%=data[i]['idcard']%></td>
        <td class="text-center"><%=data[i]['birthday']%></td>
        <td class="text-center"><%=data[i]['marriage']%></td>
        <td class="text-center"><%:=data[i]['politics']%></td>
        <td class="text-center"><%:=data[i]['degree']%></td>
        <td class="text-center"><%:=data[i]['major']%></td>
        <td class="text-center"><%:=data[i]['mobile']%></td>
        <td class="text-center"><%:=data[i]['email']%></td>
        <td class="text-center"><%:=data[i]['address']%></td>
        <td class="text-center"><%:=data[i]['entry_date']%></td>
        <td class="text-center"><%=data[i]['formal_date']%></td>
        <td class="text-center"><%=data[i]['quit_date']%></td>
        <td class="text-center"><%:=data[i]['status_arr']['html']%></td>
        <td class="text-center">
            <p>
                <lqf_link><a class="ajax-open " data-url="{:url('HrmStaff/entry')}"  data-ids="{'id':'<%=data[i]['id']%>'}">入职</a></lqf_link>
                <lqf_link><a class="ajax-open " data-url="{:url('HrmStaff/formal')}"  data-ids="{'id':'<%=data[i]['id']%>'}">转正</a></lqf_link>
                <lqf_link><a class="ajax-open " data-url="{:url('HrmStaff/leave')}"  data-ids="{'id':'<%=data[i]['id']%>'}">离职</a></lqf_link>
            </p>
            <p>
                <lqf_link><a class="ajax-open " data-url="{:url('HrmStaff/edit')}"  data-ids="{'id':'<%=data[i]['id']%>'}">修改</a></lqf_link>
                <lqf_link><a class="ajax-del confirm" data-url="{:url('HrmStaff/del')}" data-ids="{'id':'<%=data[i]['id']%>'}">删除</a></lqf_link>
            </p>
        </td>
    </tr>
    <% } %>
</script>
<script type="text/javascript">
    $(document).ready(function () {
        turnPage(1);//页面加载时初始化分页
    });
</script>