<div class="auto-height-box">
<div class="ibox-content">
    <form class="form-horizontal" method="post" action="{:url('SysEmail/send')}">
        <div class="form-group">
            <label class="col-sm-2 control-label">{:lang('收件邮箱')}</label>
            <div class="col-sm-10">
                <textarea name="address" class="form-control" cols="80" rows="2">{$info.address|default=''}</textarea>
                <span class="help-block m-b-none">{:lang('多个邮箱用英文')},{:lang('逗号分隔')}</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">{:lang('title')}</label>
            <div class="col-sm-10">
                <input name="title" class="form-control" type="text" placeholder="" value=""/>
                <span class="help-block m-b-none"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">{:lang('content')}</label>
            <div class="col-sm-10">
                <textarea name="content" class="form-control" cols="80" rows="5"></textarea>
                <span class="help-block m-b-none"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                {include file="layout/save_btn"}
            </div>
        </div>
    </form>
</div>
</div>