<div class="ibox-content">
    <form class="form-horizontal" method="post" action="{:url('SysOrg/edit')}">
        <input type="hidden" name="id" value="{$info['id']|default='0'}">
        <input type="hidden" name="username" value="{$info['username']|default='0'}">
        <div class="form-group">
            <label class="col-sm-2 control-label">帐号</label>
            <div class="col-sm-8">
                <p class="form-control-static">{$info['username']|default=''}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">公司名称</label>
            <div class="col-sm-8">
                <input name="company" class="form-control" type="text" placeholder="输入公司名称" value="{$info['company']|default=''}"/>
                <span class="help-block m-b-none"></span> </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">联系人</label>
            <div class="col-sm-8">
                <input name="linkman" class="form-control" type="text" placeholder="输入联系人" value="{$info['linkman']|default=''}"/>
                <span class="help-block m-b-none"></span> </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">手机</label>
            <div class="col-sm-8">
                <input name="mobile" class="form-control" type="text" placeholder="输入手机号" value="{$info['mobile']|default=''}"/>
                <span class="help-block m-b-none"></span> </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">开始时间</label>
            <div class="col-sm-8">
                <input name="start_date" class="form-control datepicker" type="text" placeholder="选择开始时间" value="{$info['start_date']|default=''}"/>
                <span class="help-block m-b-none"></span> </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">结束时间</label>
            <div class="col-sm-8">
                <input name="stop_date" class="form-control datepicker" type="text" placeholder="选择开始时间" value="{$info['stop_date']|default=''}"/>
                <span class="help-block m-b-none"></span> </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">介绍</label>
            <div class="col-sm-8">
                <textarea name="remark" class="form-control" cols="80" rows="2">{$info['remark']|default=''}</textarea>
                <span class="help-block m-b-none"></span> </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                {include file="layout/save_btn"}
            </div>
        </div>
    </form>
</div>