
<body class="gray-bg">
<div class="wrapper wrapper-content  animated fadeInRight article">
<div class="ibox-content">
    <div class="pull-right">
        <button class="btn btn-white btn-xs ajax-open" data-url="{:url('Document/edit',array('id'=>$info.id))}" type="button">编辑</button>
    </div>
    <div class="text-center article-title">
        <h2>{$info.name|default=''}</h2>
        <p class="small">发布于：{$info.create_time|default=''} &nbsp;&nbsp;&nbsp;&nbsp;  发布人：{$info.create_user_name|default=''}  </p>
    </div>
    <div class="line-bb"></div>
    <div class="row">
        <div class="col-sm-12">
            <h4>公文内容：</h4>
            <p class="">{$info.body|default=''}</p>
        </div>
    </div>
    <div class="row">
        {notempty name='$info.attachment'}
        <div class="line-bb"></div>
        <div class="col-lg-12">
            <h4>文件附件：</h4>
        </div>
        <div class="col-lg-12">
            {assign name="attachment" value="$info.attachment|default=''|str2arr" /}
            {volist name='attachment' id='vo'}
            <p><a href="{$vo|get_file_url}">{$vo|get_file_url}</a></p>
            {/volist}
        </div>
        {/notempty}
    </div>
    <div class="line-bb"></div>
    <div class="row m-t-lg">
        <div class="col-sm-6">
            <h3>评论记录：</h3>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-white ajax-open" data-url="{:url('DocumentReply/add',array('document_id'=>$info.id))}" data-calback="getReplyData();">
                <i class="fa fa-plus"></i>发表评论
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 reply-list-box" data-url="{:url('DocumentReply/show_file_json',array('document_id'=>$info.id))}">

        </div>
    </div>
</div>
</div>
<canvas id="head_canvas_default" style="display:none"></canvas>
<script>

    $(document).ready(function () {
        getReplyData();
    });

    function getReplyData() {
        var target = $('.reply-list-box').attr("data-url");
        var html='';
        $.ajax({
            type: "POST",
            url: target,
            data: {},
            dataType: "json",
            async: false,
            success: function (data) {
                log(data);
                $.each(data,function(key,row) {

                    var str = row.create_user_name;
                    var avatar = textToImg(str);

                    html +='<div class="social-feed-box">\n' +
                        '                <div class="social-avatar">\n' +
                        '                    <a href="" class="pull-left">\n' +
                        '                        <img alt="image" src="'+avatar+'">\n' +
                        '                    </a>\n' +
                        '                    <div class="media-body">\n' +
                        '                        <a href="#">'+ row.create_user_name +'</a>\n' +
                        '                        <small class="text-muted">'+ row.create_time +'</small>\n' +
                        '                    </div>\n' +
                        '                </div>\n' +
                        '                <div class="social-body">\n' +
                        '                    <p>'+ row.remark +'</p>\n' +
                        '                </div>\n' +
                        '                <div class="row">\n' +
                        '                    <div class="col-sm-12 text-right"><p style="padding-right: 10px;">\n' +
                        '                       <a class="ajax-open" data-url="{:url(\'DocumentReply/edit\')}"  data-ids="{\'id\':\'' + row.id + '\'}" data-title="修改" data-calback="getReplyData();">修改</a>\n' +
                        '                       <a class="ajax-get" data-url="{:url(\'DocumentReply/del\')}"  data-ids="{\'id\':\'' + row.id + '\'}" data-title="修改" data-calback="getReplyData();">删除</a>\n' +
                        '                    </p></div>\n' +
                        '                </div>\n' +
                        '            </div>';
                });

                $('.reply-list-box').html(html);

            },
            complete: function () {

            }
        });
    }


</script>