<div class="ibox-content">
    <form class="form-horizontal" method="post" action="{:url('Region/edit')}">
        <input type="hidden" name="id" value="{$info['id']|default=''}">
        <div class="form-group">
            <label class="col-sm-2 control-label">地区名称</label>
            <div class="col-sm-8">
                <input name="name" class="form-control" type="text" placeholder="请输地区名称" value="{$info['name']|default=''}"/>
                <span class="help-block m-b-none"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">上级编码</label>
            <div class="col-sm-8">
                <input name="upid" class="form-control" type="text" placeholder="请输上级编码" value="{$info['upid']|default=''}"/>
                <span class="help-block m-b-none"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">地区简称</label>
            <div class="col-sm-8">
                <input name="shortname" class="form-control" type="text" placeholder="请输地区简称" value="{$info['shortname']|default=''}"/>
                <span class="help-block m-b-none"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">行政编码</label>
            <div class="col-sm-8">
                <input name="citycode" class="form-control" type="text" placeholder="请输行政编码" value="{$info['citycode']|default=''}"/>
                <span class="help-block m-b-none"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">邮政编码</label>
            <div class="col-sm-8">
                <input name="zipcode" class="form-control" type="text" placeholder="请输邮政编码" value="{$info['zipcode']|default=''}"/>
                <span class="help-block m-b-none"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">地区拼音</label>
            <div class="col-sm-8">
                <input name="pinyin" class="form-control" type="text" placeholder="请输行政编码" value="{$info['pinyin']|default=''}"/>
                <span class="help-block m-b-none"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                {include file="layout/save_btn"}
            </div>
        </div>
    </form>
</div>

