<div class="ibox-content">
    <form class="form-horizontal" method="post" action="{:url('Region/edit')}">
        <input type="hidden" name="id" value="{$info['id']|default=''}">
        <div class="form-group">
            <label class="col-sm-2 control-label">{:lang('region name')}</label>
            <div class="col-sm-8">
                <input name="name" class="form-control" type="text" placeholder="{:lang('region name')}" value="{$info['name']|default=''}"/>
                <span class="help-block m-b-none"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">{:lang('superior code')}</label>
            <div class="col-sm-8">
                <input name="upid" class="form-control" type="text" placeholder="{:lang('superior code')}" value="{$info['upid']|default=''}"/>
                <span class="help-block m-b-none"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">{:lang('regional abbreviation')}</label>
            <div class="col-sm-8">
                <input name="shortname" class="form-control" type="text" placeholder="{:lang('regional abbreviation')}" value="{$info['shortname']|default=''}"/>
                <span class="help-block m-b-none"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">{:lang('administrative code')}</label>
            <div class="col-sm-8">
                <input name="citycode" class="form-control" type="text" placeholder="{:lang('administrative code')}" value="{$info['citycode']|default=''}"/>
                <span class="help-block m-b-none"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">{:lang('zip code')}</label>
            <div class="col-sm-8">
                <input name="zipcode" class="form-control" type="text" placeholder="{:lang('zip code')}" value="{$info['zipcode']|default=''}"/>
                <span class="help-block m-b-none"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">{:lang('pinyin code')}</label>
            <div class="col-sm-8">
                <input name="pinyin" class="form-control" type="text" placeholder="{:lang('administrative code')}" value="{$info['pinyin']|default=''}"/>
                <span class="help-block m-b-none"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                {include file="layout/save_btn"}
            </div>
        </div>
    </form>
</div>

