<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-2">
            <div class="ibox">
                <div class="ibox-title"><h5>部门结构</h5>
                    <div class="ibox-tools"><a class="refresh-tree">刷新</a></div>
                </div>
                <div class="ibox-content">
                    <div id="left-tree" class="right_centent" data-url="{:url('SysDept/get_list_tree')}"> </div>
                </div>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="ibox float-e-margins">
                <div class="ibox-title">{$page_title}列表</div>
                <div class="ibox-content table-responsive">
                    <div class="row">
                        <form id="pagerForm" method="post" class="form-inline searchForm">
                            <input type="hidden" name="pid" value="" placeholder="部门编号">
                            <div class="col-sm-3 m-b-xs">
                                <lqf_link>
                                    <a class="btn btn-info ajax-open" data-url="{:url('SysUser/add')}" data-title="用户"><i
                                            class="fa fa-plus"></i>添加</a>
                                </lqf_link>
                            </div>
                            <div class="col-sm-9 m-b-xs text-right">
                                <div class="input-group pd-b-5">
                                    <input type="text" name="keywords" placeholder="输入主题关键字搜索" class="form-control">
                                </div>
                                <div class="input-group">
                          <span class="input-group-btn">
                          <button type="button" class="btn btn-primary ajaxSearchForm"><i class="fa fa-search"></i> 搜索</button>
                          </span></div>
                            </div>
                        </form>
                    </div>
                    <table class="table table-hover sorttable ajax-list-table" data-url="{:url('SysUser/show_json')}">
                        <thead>
                        <tr>
                            <th width="22"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
                            <th width="80">帐号</th>
                            <th width="80">姓名</th>
                            <th width="60">性别</th>
                            <th width="80">手机</th>
                            <th width="80">QQ</th>
                            <th width="80">邮箱</th>
                            <th width="80">部门</th>
                            <th width="80">职位</th>
                            <th width="150">权限组</th>
                            <th width="150">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot class="ibox-content">
                        <tr>
                            <td colspan="9" align="center"></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="tableListTpl" type="text/html">
    <% for(var i=0;i
    <data.length;i++) { %>
    <tr>
        <td><input name="user_id" class="checkboxCtrlId" value="<%=data[i]['id']%>" type="checkbox"></td>
        <td><%=data[i]['username']%></td>
        <td><%=data[i]['realname']%></td>
        <td><% if(data[i]['gender']==1){%>男<%}else{%>女 <%}%></td>
        <td><%=data[i]['mobile']%></td>
        <td><%=data[i]['qicq']%></td>
        <td><%=data[i]['email']%></td>
        <td><%=data[i]['dept_name']%></td>
        <td><%=data[i]['position_name']%></td>
        <td><%=data[i]['sys_auth_name']%></td>
        <td>
            <p>
                <lqf_link><a class="ajax-open" data-url="{:url('SysUser/userRules')}"
                             data-ids="{'id':'<%=data[i]['id']%>'}" data-title="菜单授权">菜单授权</a></lqf_link>
                <lqf_link><a class="ajax-open" data-url="{:url('SysUser/userAuth')}"
                             data-ids="{'id':'<%=data[i]['id']%>'}" data-title="设置权限组">权限组</a></lqf_link>
                <lqf_link><a class="ajax-open" data-url="{:url('SysUser/edit')}" data-ids="{'id':'<%=data[i]['id']%>'}">修改</a>
                </lqf_link>
                <lqf_link><a class="ajax-open" data-url="{:url('SysUser/reset_pwd')}"
                             data-ids="{'id':'<%=data[i]['id']%>'}" data-title="重置密码">重置密码</a></lqf_link>
                <lqf_link><a class="ajax-del confirm" data-url="{:url('SysUser/del')}"
                             data-ids="{'id':'<%=data[i]['id']%>'}">删除</a></lqf_link>
            </p>
        </td>
    </tr>
    <% } %>
</script>
<link href="__STATIC__/module/admin/js/plugins/bootstrap-treeview/bootstrap-treeview.min.css" rel="stylesheet">
<script src="__STATIC__/module/admin/js/plugins/bootstrap-treeview/bootstrap-treeview.js"></script>
<script src="__STATIC__/module/admin/js/lib/treeview.js"></script>
<script src="__STATIC__/module/admin/js/content.js?v=1.0.0"></script>
<script src="__STATIC__/module/admin/js/lib/treeview.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        turnPage(1);//页面加载时初始化分页
    });
</script>