<body class="gray-bg">
<div class="ibox-title">基本信息</div>
<div class="ibox-content">
    <div class="row">
        <div class="col-sm-12"><label>紧急状态：</label>{$info.level_name|default=''}</div>
        <div class="col-sm-12"><label>工作名称：</label>{$info.name|default=''}</div>
        <div class="col-sm-12"><label>工作内容：</label>{$info.body|default=''}</div>
    </div>
    <div class="row">
        {notempty name='$info.attachment'}
        <div class="line-bb"></div>
        <div class="col-lg-12">
            <h4>文件附件：</h4>
        </div>
        <div class="col-lg-12">
            {assign name="attachment" value="$info.attachment|default=''|str2arr" /}
            {volist name='attachment' id='vo'}
            <p><a href="{$vo|get_file_url}">{$vo|get_file_url}</a></p>
            {/volist}
        </div>
        {/notempty}
    </div>
</div>

<!--审批处理-->
<div class="ibox-title">审批处理</div>
<div class="ibox-content">
    <form class="form-horizontal" method="post" action="{:url('WorkflowDeal/approval')}">
        <input type="hidden" name="id" value="{$wfinfo.id|default='0'}">
        <input type="hidden" name="workflow_id" value="{$info.id|default='0'}">
        <div class="form-group">
            <label class="col-sm-2 control-label">当前处理</label>
            <div class="col-sm-10">
                <p class="form-control-static">{$wfinfo.sort} ({$wfinfo.deal_user_name}) </p>
                <span class="help-block m-b-none"></span></div>
        </div>
        {if condition="$wfinfo.deal_status eq 0"}
            <div class="form-group">
                <label class="col-sm-2 control-label">处理动作</label>
                <div class="col-sm-10">
                    <p class="form-control-static approval_deal_status">
                        <input type="radio" name="deal_status" value="1" checked>通过
                        <input type="radio" name="deal_status" value="2">拒绝
                    </p>
                    <span class="help-block m-b-none"></span></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">备注说明</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="deal_remark"></textarea>
                    <span class="help-block m-b-none"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                    {include file="admin@layout/save_btn"}
                </div>
            </div>
        {else /}
        <div class="form-group">
            <label class="col-sm-2 control-label">审批结果</label>
            <div class="col-sm-10">
                <p class="form-control-static">{$wfinfo.deal_status_arr.html|default=''}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">审批说明</label>
            <div class="col-sm-10">
                <p class="form-control-static">{$wfinfo.deal_remark|default=''}</p>
             </div>
        </div>
        {/if}
    </form>
</div>

<div class="ibox-title">审批记录</div>
<div class="ibox-content">
    <table class="table table-hover sorttable ajax-list-table" width="100%">
        <thead>
        <tr>
            <th width="120">创建时间</th>
            <th width="120">审批节点</th>
            <th width="100">审批人</th>
            <th width="100">处理状态</th>
            <th width="120">审批结果</th>
            <th width="120">审批时间</th>
            <th width="200">备注说明</th>
        </tr>
        </thead>
        <tbody>
        <!-- 审批历史记录-->
        {notempty name='workflow.data'}
        {volist name='workflow.data' id='vo'}
        <tr>
            <td width="120">{$vo.create_time}</td>
            <td width="120">{$vo.sort}</td>
            <td width="100">{$vo.deal_user_name}</td>
            <td width="120">{$vo.status_arr.html}</td>
            <td width="120">{$vo.deal_status_arr.html}</td>
            <td width="120">{$vo.deal_time}</td>
            <td width="200">{$vo.deal_remark}</td>
        </tr>
        {/volist}
        {/notempty}
        </tbody>
    </table>
</div>
<script>

    approval_type();

    $('.approval_deal_status input[name="deal_status"]').on('click', function (e, params) {
        approval_type();
    });

    function  approval_type() {
        var val=$('.approval_deal_status input[name="deal_status"]:checked').val();
        $('.reject_box').css('display','none');
        $('.forward_box').css('display','none');
        if(val==2){
            $('.reject_box').css('display','block');
        }else if(val==3){
            $('.forward_box').css('display','block');
        }
    }

</script>