<div class="ibox-content">
    <form class="form-horizontal" method="post" action="{:url('MaterialShelvesCell/add')}">
        <div class="form-group">
            <label class="col-sm-2 control-label">所在货架</label>
            <div class="col-sm-10">
                <div class="suggest-search-box">
                <div class="input-group shelves-suggest">
                    <input type="hidden" name="shelves_id" value="{$shelves_id|default='0'}">
                    <input type="hidden" name="shelves_code" value="{$shelves_code|default=''}">
                    <input type="text" name="shelves_name" value="{$shelves_name|default=''}" class="form-control suggest-input"  placeholder="请输入搜索名称"
                           data-url="{:url('Comm/suggest_search',array('datatype'=>'shelves'))}"
                           searchFields="keywords"
                           target-group="shelves-suggest" target-name='{"shelves_id":"id","shelves_name":"name","shelves_code":"shelves_code"}'>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu"></ul>
                    </div>
                </div>
                </div>
                <span class="help-block m-b-none"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">开始编号</label>
            <div class="col-sm-4">
                <input name="start_num" class="form-control" type="text" placeholder="请输入开始编号" value="{$info.start_num|default='10'}"/>
                <span class="help-block m-b-none"></span>
            </div>
            <label class="col-sm-2 control-label">结束编号</label>
            <div class="col-sm-4">
                <input name="end_num" class="form-control" type="text" placeholder="请输入结束编号" value="{$info.end_num|default='10'}"/>
                <span class="help-block m-b-none"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">排序</label>
            <div class="col-sm-10">
                <input name="sort" class="form-control" type="text" placeholder="请输入排序" value="{$info.sort|default='10'}"/>
                <span class="help-block m-b-none"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                {include file="admin@layout/save_btn"}
            </div>
        </div>
    </form>
</div>
<script src="__STATIC__/module/admin/js/lib/suggest.js"></script>