<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{$page_title|default=''}{$sys_config.main_title|default=''}-Powered by 07FLY pro</title>
    <meta name="keywords" content="{$sys_config.seo_keywords|default=''}">
    <meta name="description" content="{$sys_config.seo_description|default=''}">
    <link rel="shortcut icon" href="__STATIC__/img/favicon.png">
    <link href="__STATIC__/module/admin/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__STATIC__/module/admin/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="__STATIC__/module/admin/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="__STATIC__/module/admin/css/plugins/chosen/chosen.css" rel="stylesheet">
    <link href="__STATIC__/module/admin/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <link href="__STATIC__/module/admin/css/plugins/datapicker/datetimepicker.min.css" rel="stylesheet">
    <link href="__STATIC__/module/admin/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css"
          rel="stylesheet">
    <link href="__STATIC__/module/admin/css/animate.css" rel="stylesheet">
    <link href="__STATIC__/module/admin/css/style.css?v=4.1.0" rel="stylesheet">

    <!-- 自定义CSS -->
    <link href="__STATIC__/module/admin/css/07fly.css?v=1.1.0" rel="stylesheet">

    <!-- 全局js -->
    <script src="__STATIC__/module/admin/js/jquery.min.js?v=2.1.4"></script>
    <script src="__STATIC__/module/admin/js/jquery.cookie.js"></script>
    <script src="__STATIC__/module/admin/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="__STATIC__/module/admin/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="__STATIC__/module/admin/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="__STATIC__/module/admin/js/plugins/layer/layer.min.js"></script>
    <script type="text/javascript">
        var pjax_mode = "{$pjax_mode|default=''}";
        var static_root = "{$static_root|default=''}";
    </script>
</head>
<body class="fixed-sidebar gray-bg " style="overflow:hidden">
<div id="wrapper">
    <!--左侧导航开始-->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="nav-close"><i class="fa fa-times-circle"></i></div>
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="{:url('index/main')}">
                            <span class="clear">
                                <span class="block m-t-xs" style="font-size:18px;">
                                <strong class="font-bold">{$sys_config.main_title}</strong>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="logo-element">{$sys_config.main_title}</div>
                </li>
                <li class="line dk"></li>
                {$menu_view}
            </ul>
        </div>
    </nav>
    <!--左侧导航结束-->

    <!--右侧部分开始-->
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2" href="#" title="展示收起侧栏">
                        <i class="fa fa-outdent"></i>
                    </a>
                </div>
                <div class="navbar-module">
                    {$sys_config.top_links}
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li><a href="{:url('admin/Store/apps')}" class="J_menuItem" target="_blank"><i
                            class="fa fa-fire"></i>应用</a></li>
                    <li>
                        <a href="{$sys_config.main_weburl|default='http://www.07fly.xyz/'}" target="_blank"><i
                            class="fa fa-home"></i>官网</a>
                    </li>
                    <li class="dropdown msg-icon">
                        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                            <i class="fa fa-bell "></i> <span class="label label-danger msg-icon-nums">0</span>
                        </a>
                        <ul class="dropdown-menu dropdown-alerts">
                            <li>
                                <a href="{:url('admin/SysMsg/show_my')}" class="J_menuItem" >
                                    <div>
                                        <i class="fa fa-qq fa-fw"></i> 您有<span class="msg-icon-my">0</span>条未读消息
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{:url('admin/OaNotifyUser/show')}" class="J_menuItem">
                                <div>
                                    <i class="fa fa-volume-up fa-fw"></i> <span class="msg-icon-noti">0</span>条未读公告
                                </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#"><i
                                class="fa fa-chevron-down">{$sys_user_info['realname']}</i> </a>
                        <ul class="dropdown-menu dropdown-alerts">
                            <li>
                                <a data-url="{:url('SysUser/editInfo',array('id'=>$sys_user_info['id']))}"
                                   class="ajax-open" title="个人资料" data-calback="">
                                    <div><i class="fa fa-envelope fa-fw"></i>个人资料</div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{:url('SysUser/editPwd',array('id'=>$sys_user_info['id']))}" class="ajax-open"
                                   title="个人资料">
                                    <div><i class="fa fa-qq fa-fw"></i> 密码修改</div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="text-center link-block">
                                    <a class="ajax-get" href="{:url('Login/logout')}"
                                       data-calback="window.location.reload();">
                                        <strong>退出登录 </strong> <i class="fa fa-angle-right"></i>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="row J_mainContent" id="content-main">
            <iframe id="J_iframe" width="100%" height="95%" src="{:url('Index/main')}" frameborder="0"
                    data-id="index_v1.html" seamless></iframe>
        </div>
    </div>
    <!--右侧部分结束-->
</div>
{include file="layout/bottom"}
<script>
    //顶部菜单栏目
    $(".navbar-module a").click(function () {
        $(this).addClass("on");
        $(this).siblings().removeClass('on');
    });

    $(document).ready(function () {

        var iframeUrl = localStorage.getItem('iframeUrl');
        if (typeof (iframeUrl) != "undefined" && iframeUrl != null) {

        } else {
            iframeUrl = "{:url('Index/main')}";
        }
        //阻止F5刷新
        document.onkeypress = function (e) {
            if (e.keyCode == 116) {
                e.preventDefault(); //组织默认刷新
                iframe.src = iframeUrl;
            }
        }

        //刷新时设置当前点击页面数据
        if (typeof (iframeUrl) != "undefined") {
            that = $("a[href='" + iframeUrl + "']");
            //that.parent('li').addClass('active');
            that.parents('ul.nav').addClass('in');
            that.parents('ul.nav').parent('li').addClass('active');
            $('#J_iframe').attr('src', iframeUrl);//重新设置获取的url，实现刷新显示当前页面
        }

        //保存点击=>记录当前链接地址
        $(".J_menuItem").on('click', function () {
            var itemUrl = $(this).attr('href');
            console.log(iframeUrl);
            localStorage.setItem('iframeUrl', itemUrl);
        });

    });

    //声音播放插件
    var playSound = function () {
        var borswer = window.navigator.userAgent.toLowerCase();
        var num = Math.floor(Math.random() * 6) + 1;
        var video = "__STATIC__/module/admin/img/" + num + ".wav";
        if (borswer.indexOf("ie") >= 0) {
            //IE内核浏览器
            var strEmbed = '<embed name="embedPlay" src="' + video + '" autostart="true" hidden="true" loop="false"></embed>';
            if ($("body").find("embed").length <= 0)
                $("body").append(strEmbed);
            var embed = document.embedPlay;
            //浏览器不支持 audion，则使用 embed 播放
            embed.volume = 100;
            //embed.play();这个不需要
        } else {
            //非IE内核浏览器
            var strAudio = "<audio id='audioPlay' src='" + video + "' hidden='true'>";
            if ($("#audioPlay").length <= 0) {
                $("body").append(strAudio);
            }
            var audio = document.getElementById("audioPlay");
            //浏览器支持 audio
            audio.play();
        }
        log(video);
    }

    //提示通知插件
    var playNotice = function (id, title, content, url = '') {
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "progressBar": true,
            "positionClass": "toast-bottom-right",
            "onclick": null,
            "showDuration": "400",
            "hideDuration": "1000",
            "timeOut": "20000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        //点击事件
        toastr.options.onclick = function () {
            layer.open({
                type: 2,
                title: '查看通知',
                shadeClose: true,
                fixed: false, //不固定
                area: ['90%', '90%'],
                content: url
            });
        };
        toastr.info(content, title);
    }
    //提示通知插件
    var runSysMsg = function () {
        var target = "{:url('admin/rpc.CronJob/sys_msg_plug',array('deal_user_id'=>$sys_user_info.id))}";//显示系统通知
        $.ajax({
            type: 'POST',
            url: target,
            data: '',
            dataType: 'json',
            success: function (jsonData) {
                $(jsonData.data).each(function (index, item) {
                    playNotice(item.id, '系统提醒', item.bus_name, item.bus_url);
                });
                if (jsonData.data.length > 0) {

                    $(".msg-icon-my").text(jsonData.data.length);

                    playSound();

                    getMsgNums();
                }
            }
        });
    }
    //系统公告
    var runSysNotify = function () {
        var target = "{:url('admin/rpc.CronJob/oa_notify_plug',array('owner_user_id'=>$sys_user_info.id,'read_state'=>0))}";
        var detail = "{:url('admin/rpc.CronJob/oa_notify_plug')}";
        $.ajax({
            type: 'POST',
            url: target,
            data: {"status": "-1"},
            dataType: 'json',
            success: function (jsonData) {
                $(jsonData.data).each(function (index, item) {
                    playNotice(item.id, '系统公告', item.name, detail + '?id=' + item.id);
                });
                if (jsonData.data.length > 0) {
                    $(".msg-icon-noti").text(jsonData.data.length);
                    playSound();

                    getMsgNums();
                }
            }
        });
    }

    function getMsgNums(){
        var my=$(".msg-icon-my").text();
        var noti=$(".msg-icon-noti").text();
        var nums=Number(my)+Number(noti);

        $(".msg-icon-nums").text(nums);
    }

    //主动调用
    //setInterval("func()", 60000);
    setInterval("runSysNotify()", 1000 * 60 * 5);
    setInterval("runSysMsg()", 1000 * 60 * 10);
    runSysNotify();
    runSysMsg();
</script>