<div class="lockscreen-footer">
    <lqf_link><a class="btn batch_btn confirm ajax-post" value="{$Think.DATA_NORMAL}"  href="{:url('setStatus')}"><i class="fa fa-check-circle"></i> {:lang('启用')}</a></lqf_link>
    <lqf_link><a class="btn batch_btn confirm ajax-post" value="{$Think.DATA_DISABLE}" href="{:url('setStatus')}"><i class="fa fa-times-circle"></i> {:lang('禁用')}</a></lqf_link>
    <lqf_link><a class="btn batch_btn confirm ajax-post" value="{$Think.DATA_DELETE}"  href="{:url('setStatus')}"><i class="fa fa-trash"></i> {:lang('删除')}</a></lqf_link>
</div>