<!-- 百度JS模板 -->
<script src="__STATIC__/module/admin/js/baiduTemplate.js"></script>
<!-- pjax -->
<script src="__STATIC__/module/admin/js/jquery.pjax.js"></script>
<script src="__STATIC__/module/admin/js/jquery.jqprint-0.3.js"></script>
<!-- Data picker -->
<script src="__STATIC__/module/admin/js/plugins/datapicker/bootstrap-datepicker.js"></script>
<script src="__STATIC__/module/admin/js/plugins/datapicker/bootstrap-datetimepicker.js"></script>
<script src="__STATIC__/module/admin/js/plugins/datapicker/bootstrap-datetimepicker.zh-CN.js"></script>
<!-- Clock picker -->
<script src="__STATIC__/module/admin/js/plugins/clockpicker/clockpicker.js"></script>
<!-- iCheck -->
<script src="__STATIC__/module/admin/js/plugins/iCheck/icheck.min.js"></script>
<!-- Chosen -->
<script src="__STATIC__/module/admin/js/plugins/chosen/chosen.jquery.js"></script>
<!-- toastr -->
<link href="__STATIC__/module/admin/css/plugins/toastr/toastr.min.css" rel="stylesheet">
<script src="__STATIC__/module/admin/js/plugins/toastr/toastr.min.js"></script>
<!-- suggest-->
<script src="__STATIC__/module/admin/js/plugins/suggest/bootstrap-suggest.js"></script>
<!-- bignumber-->
<script src="__STATIC__/module/admin/js/plugins/bignumber/bignumber.min.js"></script>

<!-- 自定义js -->
<script src="__STATIC__/module/admin/js/lib/init.js?v=4.1.0"></script>
<script src="__STATIC__/module/admin/js/lib/content.js?v=1.0.0"></script>
<script src="__STATIC__/module/admin/js/lib/showtable.js?v=1.0.0"></script>
<script src="__STATIC__/module/admin/js/lib/lookup.js?v=1.0.0"></script>
<!--{:hook('hook_view_admin')}-->
<script src="__STATIC__/module/admin/js/lib/daterange.js"></script>
<script src="__STATIC__/module/admin/js/lib/date.js"></script>
<script>
    //erp.07fly.xyz
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?580632b24aea12910a1609b81ffaf23d";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</body>
</html>