<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {notempty name="page_title"}{$page_title}{/notempty}{notempty name="sys_org"}-{$sys_org.company}-{/notempty}-Powered by 07FLY pro </title>
    <meta name="keywords" content="零起飞,CRM,免费CRM,客户管理系统,客户管理软件,客户关系管理软件,客户关系管理系统,CRM软件,CRM系统">
    <meta name="description"
        content="零起飞客户管理CRM系统针对企业不同阶段提供不同的客户管理CRM系统功能，以实现企业对客户管理的需要，网络中只需一台电脑安装本客户管理CRM系统，其它电脑均可通过浏览器使用。">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="__STATIC__/module/admin/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__STATIC__/module/admin/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="__STATIC__/module/admin/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="__STATIC__/module/admin/css/plugins/chosen/chosen.css" rel="stylesheet">
    <link href="__STATIC__/module/admin/css/plugins/colorpicker/css/bootstrap-colorpicker.min.css"
        rel="stylesheet">
    <link href="__STATIC__/module/admin/css/plugins/cropper/cropper.min.css" rel="stylesheet">
    <link href="__STATIC__/module/admin/css/plugins/switchery/switchery.css" rel="stylesheet">
    <link href="__STATIC__/module/admin/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="__STATIC__/module/admin/css/plugins/nouslider/jquery.nouislider.css" rel="stylesheet">
    <link href="__STATIC__/module/admin/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <link href="__STATIC__/module/admin/css/plugins/datapicker/datetimepicker.min.css" rel="stylesheet">
    <link href="__STATIC__/module/admin/css/plugins/ionRangeSlider/ion.rangeSlider.css" rel="stylesheet">
    <link href="__STATIC__/module/admin/css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css" rel="stylesheet">
    <link href="__STATIC__/module/admin/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <link href="__STATIC__/module/admin/css/plugins/clockpicker/clockpicker.css" rel="stylesheet">
    <link href="__STATIC__/module/admin/css/animate.css" rel="stylesheet">
    <link href="__STATIC__/module/admin/css/style.css?v=4.1.0" rel="stylesheet">

    <!-- 自定义CSS -->
    <link href="__STATIC__/module/admin/css/07fly.css?v=1.1.0" rel="stylesheet">
    <!-- 全局js -->
    <script src="__STATIC__/module/admin/js/jquery.min.js?v=2.1.4"></script>
    <script src="__STATIC__/module/admin/js/jquery.cookie.js"></script>
    <script src="__STATIC__/module/admin/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="__STATIC__/module/admin/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="__STATIC__/module/admin/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="__STATIC__/module/admin/js/plugins/layer/layer.min.js"></script>

    <!-- Toastr script -->
    <script src="__STATIC__/module/admin/js/plugins/toastr/toastr.min.js"></script>

</head>
{include file="../app/common/view/fakeloader.html" /}