<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {notempty name="page_title"}
        {$page_title} -
        {/notempty}
        {$sys_config.main_title|default=''}-Powered by 07FLY pro
    </title>
    <meta name="keywords" content="{$sys_config.seo_keywords|default=''}">
    <meta name="description" content="{$sys_config.seo_description|default=''}">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="__STATIC__/module/admin/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__STATIC__/module/admin/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="__STATIC__/module/admin/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="__STATIC__/module/admin/css/plugins/chosen/chosen.css" rel="stylesheet">
    <link href="__STATIC__/module/admin/css/plugins/colorpicker/css/bootstrap-colorpicker.min.css"
        rel="stylesheet">
    <link href="__STATIC__/module/admin/css/plugins/cropper/cropper.min.css" rel="stylesheet">
    <link href="__STATIC__/module/admin/css/plugins/switchery/switchery.css" rel="stylesheet">
    <link href="__STATIC__/module/admin/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="__STATIC__/module/admin/css/plugins/nouslider/jquery.nouislider.css" rel="stylesheet">
    <link href="__STATIC__/module/admin/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <link href="__STATIC__/module/admin/css/plugins/datapicker/datetimepicker.min.css" rel="stylesheet">
    <link href="__STATIC__/module/admin/css/plugins/ionRangeSlider/ion.rangeSlider.css" rel="stylesheet">
    <link href="__STATIC__/module/admin/css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css" rel="stylesheet">
    <link href="__STATIC__/module/admin/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <link href="__STATIC__/module/admin/css/plugins/clockpicker/clockpicker.css" rel="stylesheet">
    <link href="__STATIC__/module/admin/css/animate.css" rel="stylesheet">
    <link href="__STATIC__/module/admin/css/style.css?v=4.1.0" rel="stylesheet">

    <!-- 自定义CSS -->
    <link href="__STATIC__/module/admin/css/07fly.css?v=1.1.0" rel="stylesheet">
    <!-- 全局js -->
    <script src="__STATIC__/module/admin/js/jquery.min.js?v=2.1.4"></script>
    <script src="__STATIC__/module/admin/js/jquery.cookie.js"></script>
    <script src="__STATIC__/module/admin/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="__STATIC__/module/admin/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="__STATIC__/module/admin/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="__STATIC__/module/admin/js/plugins/layer/layer.min.js"></script>

    <!-- Toastr script -->
    <script src="__STATIC__/module/admin/js/plugins/toastr/toastr.min.js"></script>

</head>
{include file="../app/common/view/fakeloader.html" /}