<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>注册中心-零起飞网络管理中心</title>
    <meta name="keywords" content="免费CRM,客户管理系统,客户关系管理系统,CRM系统">
    <meta name="description"   content="零起飞客户管理CRM系统针对企业不同阶段提供不同的客户管理功能，以实现企业对客户管理的需要，网络中只需一台电脑安装本客户管理CRM系统，其它电脑均可通过浏览器使用。">
    <!-- CSS -->
    <link rel="stylesheet" href="__STATIC__/module/login/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/module/login/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="__STATIC__/module/login/css/form-elements.css">
    <link rel="stylesheet" href="__STATIC__/module/login/css/style.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="__STATIC__/module/login/ico/favicon.png">
</head>

<body>

<!-- Top content -->
<div class="top-content">
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1><strong>零起飞企业管理系统</strong></h1>
                    <div class="description">
                        <p>软件集ERP、CRM、OA在线办公等主要功能，PC和{:lang('mobile phone')}端一体化管理</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>欢迎注册使用</h3>
                            <p>优化企业资源，提高管理效率。</p>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-key"></i>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <form role="form" action="{:url('Reg/reg')}" method="post" class="login-form ">
                            <div class="form-group">
                                <label class="sr-only" >company</label>
                                <input type="text" name="company" placeholder="输入您的企业名称..." class="form-username form-control">
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Username</label>
                                <input type="text" name="username" placeholder="输入您的{:lang('phone number')}..." class="form-username form-control">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" >Password</label>
                                <input type="password" name="password" placeholder="输入{:lang('password')}" class="form-password form-control" >
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12">
                                        <input type="text" name="verify" class="form-control verify" placeholder="请输入您的验证码">
                                    </div>
                                    <div class="col-sm-6 col-xs-12">
                                        <img src="{:captcha_src()}" alt="captcha" class="admin-login-captcha-img captcha_change" id="captcha_img"/>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn login-btn">注 册</button>
                            <div class="form-control-static">
                                <p class="form-control-static">已有账户，<a href="{:url('Login/login')}">去登录</a> </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="copyrights"><a href="http://www.07fly.xyz">技术支持:成都零起飞网络 </a></div>


<!-- Javascript -->
<script src="__STATIC__/module/login/js/jquery-1.11.1.min.js"></script>
<script src="__STATIC__/module/login/bootstrap/js/bootstrap.min.js"></script>
<script src="__STATIC__/module/login/js/jquery.backstretch.min.js"></script>
<script src="__STATIC__/module/login/js/scripts.js"></script>
<!-- layer javascript -->
<script src="__STATIC__/module/admin/js/plugins/layer/layer.min.js"></script>
<!--[if lt IE 10]>
<script src="__STATIC__/module/login/js/placeholder.js"></script>
<![endif]-->
<script>
    $(document).ready(function () {
        $("body").keydown(function (e) {
            var e = event || window.event;
            if (e.keyCode == 13) {
                ajaxlogin();
            }
        });
        $.backstretch("__STATIC__/module/login/img/backgrounds/1.jpg");
    });
    //刷新验证码
    $(".captcha_change").click(function () {
        var captcha_img_obj = $("#captcha_img");
        captcha_img_obj.attr("src", captcha_img_obj.attr("src") + "?" + Math.random());
    });
    //绑定登录
    $("body").on("click", ".login-btn", function () {
        ajaxlogin();
    });
    function ajaxlogin() {
        form = $('.login-form');
        target = form.get(0).action;
        FormData = $("form").serialize();
        $.ajax({
            type: "POST",
            url: target,
            data: FormData,
            dataType: "json",
            success: function (data) {
                if (data.code == '1') {
                    layer.msg(data.msg, {icon: 1});
                    window.location.href = data.url;
                } else {
                    layer.msg(data.msg, {icon: 5});
                }
            }
        });
    }
</script>
</body>

</html>