<body class="gray-bg">
<div class="wrapper wrapper-content animated ">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5><i class="fa fa-home"></i>客户详细</h5>
            <div class="ibox-tools">
                <button type="button" class="btn btn-xs btn-primary btn-history"><i class="fa fa-reply"></i> 返回
                </button>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-8">
                    <h2>{$info.name}</h2>
                    <p>客户归属：{$info.owner_user_name}  首要联系人：{$info.linkman}   下次联系时间：{$info.next_time}</p>
                </div>
                <div class="col-sm-4 text-right">
                    <lqf_link><a class="btn btn-white ajax-open"  data-url="{:url('CstCustomer/edit',array('id'=>$info.id))}" data-calback="void(0);"><i class="fa fa-edit"></i> 编辑</a></lqf_link>
                    <lqf_link><a  class="btn btn-white confirm ajax-get" data-url="{:url('CstCustomer/gotopublic',array('id'=>$info.id))}" data-calback="void(0);"><i class="fa fa-retweet"></i>移入公海</a></lqf_link>
                </div>
            </div>
            <div class="line-bb"></div>
            <div class="row">
                <div class="col-sm-6">
                    <div class=" ">
<!--                        <p><strong>客户编号：</strong>{$info.customer_no}</p>-->
                        <p><strong>客户来源：</strong>{$info.source}</p>
                        <p><strong>客户等级：</strong>{$info.level}</p>
                        <p><strong>所在行业：</strong>{$info.industry}</p>
                        <p><strong>联系地址：</strong>{$info.address}</p>
                        <p><strong>沟通时间：</strong>{$info.link_time}</p>
                        <p><strong>沟通内容：</strong>{$info.link_body}</p>
                        <p><strong>下次联系：</strong>{$info.next_time}</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class=" ">
                        <p><strong>创建时间：</strong>{$info.create_time}</p>
                        <p><strong>首要联系人：</strong>{$info.linkman}</p>
                        <p><strong>客户代表：</strong>{$info.linkman}</p>
                        <p><strong>手机号码：</strong>{$info.mobile}</p>
                        <p><strong>客户备注：</strong>{$info.remark}</p>
                    </div>
                </div>
            </div>
            <div class="line-bb"></div>
            <div class="row m-t-sm">
                <div class="col-sm-12">
                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="?#tab-1" data-toggle="tab">跟进记录</a></li>
                            <li class=""><a href="?#tab-2" data-toggle="tab">销售合同</a></li>
                            <li class=""><a href="?#tab-3" data-toggle="tab">销售记录</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                                <div class="row text-right">
                                    <div class="col-sm-12">
                                        <button class="btn btn-xs btn-info ajax-open " type="button"
                                                data-url="{:url('CstTrace/add')}"
                                                data-ids="{'customer_id':'{$info.id}'}"
                                                data-title="添加沟通记录"
                                                data-calback="ajaxCustomerInfoData($('.ajax-list-table.trace'))"><i
                                                class="fa fa-plus"></i> 添加跟进记录
                                        </button>
                                    </div>
                                </div>
                                <div class="line"></div>
                                <table class="table table-hover sorttable ajax-list-table trace" data-url="{:url('CstCustomer/detail',array('id'=>$info.id,'type'=>'trace'))}">
                                    <thead>
                                    <tr>
                                        <th width="100"><span>联系时间</span></th>
                                        <th width="60"><span>跟进方式</span></th>
                                        <th width="150"><span>沟通内容</span></th>
                                        <th width="100"><span>下次跟进</span></th>
                                        <th width="80"><span>当前阶段</span></th>
                                        <th width="60"><span>操作</span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <div id="tab-2" class="tab-pane">
                                <div class="row text-right">
                                    <div class="col-sm-12">
                                        <button class="btn btn-xs btn-info ajax-open " type="button"
                                                data-url="{:url('CstContract/add')}"
                                                data-ids="{'customer_id':'{$info.id}'}"
                                                data-title="添加添加合同"
                                                data-calback="ajaxCustomerInfoData($('.ajax-list-table.contract'))"><i
                                                class="fa fa-plus"></i> 添加合同
                                        </button>
                                    </div>
                                </div>
                                <div class="line"></div>
                                <table class="table table-hover sorttable ajax-list-table contract" data-url="{:url('CstCustomer/detail',array('id'=>$info.id,'type'=>'contract'))}">
                                    <thead>
                                    <tr>
                                        <th width="150"><span>合同编号</span></th>
                                        <th width="100"><span>合同名称</span></th>
                                        <th width="80"><span>合同金额</span></th>
                                        <th width="80"><span>签订日期</span></th>
                                        <th width="80"><span>到期日期</span></th>
                                        <th width="80"><span>备注</span></th>
                                        <th width="100"><span>操作</span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>

                            <div id="tab-3" class="tab-pane">
                                <div class="row text-right">
                                    <div class="col-sm-12">
                                        <button class="btn btn-xs btn-info ajax-open " type="button"
                                                data-url="{:url('CstSales/add')}"
                                                data-ids="{'customer_id':'{$info.id}'}"
                                                data-title="添加销售记录"
                                                data-calback="ajaxCustomerInfoData($('.ajax-list-table.chance'))"><i
                                                class="fa fa-plus"></i>添加销售机会
                                        </button>
                                    </div>
                                </div>
                                <div class="line"></div>
                                <table class="table table-hover sorttable ajax-list-table sales" data-url="{:url('CstCustomer/detail',array('id'=>$info.id,'type'=>'sales'))}">
                                    <thead>
                                    <tr>
                                        <th width="100"><span>销售名称</span></th>
                                        <th width="80"><span>销售日期</span></th>
                                        <th width="80"><span>销售金额</span></th>
                                        <th width="60"><span>创建时间</span></th>
                                        <th width="60"><span>操作</span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--加载数据模板-->
{include file="cst_customer/fun_cst_customer_detail"/}