<body class="gray-bg">
<div class="ibox-content">
    <form class="form-horizontal" method="post" action="{:url('CstCustomer/trace')}">
        <div class="form-group">
            <label class="col-sm-2 control-label">跟进方式</label>
            <div class="col-sm-4">
                <select name="salemode" class="chosen-select">
                    <option value="">跟进方式</option>
                    {volist name='$dict.salemode' id='vo'}
                    <option value="{$vo['name']}">{$vo['name']}</option>
                    {/volist}
                </select>
                <span class="help-block m-b-none"></span>
            </div>
            <div class="col-sm-6">
                <input name="link_time" class="form-control datetimepicker-now" type="text" placeholder="选择沟通时间"/>
                <span class="help-block m-b-none"></span></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">沟通内容</label>
            <div class="col-sm-10">
                <textarea name="link_body" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">客户名称</label>
            <div class="col-sm-10">
                <select name="customer_id" class="chosen-select  customer" data-url="{:url('Comm/customer_link')}" style="width: 200px;">
                    <option value="">选择客户</option>
                    {volist name='$customer_list' id='vo'}
                    <option value="{$vo['id']}" {noempty name="customer_id"} {if condition="$customer_id eq $vo['id'] " }  selected="selected" {/if} {/noempty} >{$vo['name']}</option>
                    {/volist}
                </select>
                <span class="help-block m-b-none"></span></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">联系人</label>
            <div class="col-sm-10">
                <select name="linkman_id" class="chosen-select  linkman" data-val="{$linkman_id}"  style="width: 200px;">
                    <option value="">选择联系人</option>
                    {volist name='$linkman_list' id='vo'}
                    <option value="{$vo['id']}">{$vo['name']}</option>
                    {/volist}
                </select>
                <span class="help-block m-b-none"></span></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">销售机会</label>
            <div class="col-sm-10">
                <select name="chance_id" class="chosen-select  chance" data-val="{$chance_id}" style="width: 200px;">
                    <option value="">选择销售机会</option>
                    {volist name='$chance_list' id='vo'}
                    <option value="{$vo['name']}" {if condition="$chance_id eq $vo['id'] " }  selected="selected" {/if}>{$vo['name']}</option>
                    {/volist}
                </select>
                <span class="help-block m-b-none"></span></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">客户状态</label>
            <div class="col-sm-10">
                <select name="customerstatus" class="chosen-select chosen-select-typetag" style="width: 200px;">
                    <option value="">选择状态</option>
                    {volist name='$dict.customerstatus' id='vo'}
                    <option value="{$vo['name']}" {noempty name="info['customerstatus']"} {if condition="$info['customerstatus'] eq $vo['name'] " }  selected="selected" {/if} {/noempty}>{$vo['name']}</option>
                    {/volist}
                </select>
                <span class="help-block m-b-none"></span></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">当前阶段</label>
            <div class="col-sm-10">
                <select name="salestage" class="chosen-select chosen-select-typetag" style="width: 200px;">
                    <option value="">当前阶段</option>
                    {volist name='$dict.salestage' id='vo'}
                    <option value="{$vo['name']}">{$vo['name']}</option>
                    {/volist}
                </select>
                <span class="help-block m-b-none"></span></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">下次沟通</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button" aria-expanded="false">选择下次沟通时间 <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="date-add-interval" data-gid="link_time" data-sid="next_time" data-val="1" data-type="d" data-fmt="yyyy-MM-dd hh:mm:ss">明天</a></li>
                            <li><a class="date-add-interval" data-gid="link_time" data-sid="next_time" data-val="2" data-type="d" data-fmt="yyyy-MM-dd hh:mm:ss">后天</a></li>
                            <li><a class="date-add-interval" data-gid="link_time" data-sid="next_time" data-val="3" data-type="d" data-fmt="yyyy-MM-dd hh:mm:ss">三天后</a></li>
                            <li><a class="date-add-interval" data-gid="link_time" data-sid="next_time" data-val="7" data-type="d" data-fmt="yyyy-MM-dd hh:mm:ss">一周后</a></li>
                            <li><a class="date-add-interval" data-gid="link_time" data-sid="next_time" data-val="14" data-type="d" data-fmt="yyyy-MM-dd hh:mm:ss">二周后</a></li>
                            <li><a class="date-add-interval" data-gid="link_time" data-sid="next_time" data-val="1" data-type="m" data-fmt="yyyy-MM-dd hh:mm:ss">一个月后</a></li>
                            <li><a class="date-add-interval" data-gid="link_time" data-sid="next_time" data-val="3" data-type="m" data-fmt="yyyy-MM-dd hh:mm:ss">三个月后</a></li>
                        </ul>
                    </div>
                    <input name="next_time" class="form-control datetimepicker" type="text" placeholder="选择下次沟通日期"/>
                </div>
                <span class="help-block m-b-none"></span></div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                {include file="admin@layout/save_btn"}
            </div>
        </div>
    </form>
</div>