<body class="gray-bg">
<div class="wrapper wrapper-content animated ">
    <div class="row">
        <div class="col-sm-2">
            <div class="ibox">
                <div class="ibox-title"><h5>分类 [<a href="{:url('AttendanceType/show')}">管理</a>]</h5>
                    <div class="ibox-tools"><a class="refresh-tree">刷新</a></div>
                </div>
                <div class="ibox-content">
                    <div id="left-tree" class="right_centent" data-url="{:url('AttendanceType/get_list_tree')}"> </div>
                </div>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{$page_title|default=''}</h5>
                    <div class="ibox-tools">
                        <a href="javascript:void(0);" class="btn btn-xs btn-default btn-help-detail"  data-type="cst_customer">
                            <i class="fa fa-question-circle"> 操作说明</i></a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <form id="pagerForm" method="post" class="form-inline searchForm">
                            <input type="hidden" name="pid" value="">
                            <div class="col-sm-12 text-right">
                                <div class="input-group">
                                    <input type="text" name="month" placeholder="输入选择月" class="form-control datepicker-month" value="{$curr_month|default=''}">
                                </div>
                                <div class="input-group text-left">
                                    <select name="staff_id" class="chosen-select">
                                        <option value="">请选择员工</option>
                                        {volist name='$staff_list' id='vo'}
                                        <option value="{$vo['id']}" {eq name="staff_id" value="$vo.id"} selected {/eq}>{$vo['name']}</option>
                                        {/volist}
                                    </select>
                                </div>
                                <div class="input-group">
                                    <input type="text" name="keywords" placeholder="输入关键字搜索" class="form-control">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-btn"> <button type="button" class="btn btn-primary ajaxSearchForm"><i class="fa fa-search"></i> 搜索</button></span>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-btn"> <button type="button" class="btn btn-warning ajaxSearchForm resetForm"><i class="fa fa-recycle"></i> 重置</button></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-10">
                            <lqf_link><a class="btn btn-info ajax-open"  data-url="{:url('Attendance/add')}"><i class="fa fa-plus"></i> 添加</a></lqf_link>
                            <lqf_link><a class="btn btn-success ajax-goto"  data-url="{:url('Attendance/report')}"><i class="fa fa-bar-chart"></i> 统计</a></lqf_link>
                        </div>
                        <div class="col-sm-2 text-right">
                            <a href="javascript:void(0);" class="btn btn-default btn-outline btn-field-set" data-id="{$page_title|default=''}"> <i class="fa fa-columns"></i> 列</a>
                        </div>
                    </div>
                </div>
                <div class="ibox-content table-responsive">
                    <table class="table table-hover sorttable ajax-list-table" data-url="{:url('Attendance/show_json')}" width="100%">
                        <thead>
                        <tr>
                            <th width="22"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
                            <th width="100"><span>员工姓名</span></th>
                            <th width="80" ><span>考勤类型</span></th>
                            <th width="80" ><span>时长(小时)</span></th>
                            <th width="120" ><span>开始时间</span></th>
                            <th width="120" ><span>结束时间</span></th>
                            <th width="150"><span>备注说明</span></th>
                            <th width="80" class="text-center">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot class="ibox-content">
                        <tr>
                            <td colspan="13" align="center"></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="tableListTpl" type="text/html">
    <% for(var i=0;i<data.length;i++) {%>
    <tr>
        <td><input name="id" class="checkboxCtrlId" value="<%=data[i]['id']%>" type="checkbox"></td>
        <td><%=data[i]['staff_name']%></td>
        <td ><%=data[i]['type_name']%></td>
        <td ><%=data[i]['time_len']%></td>
        <td ><%=data[i]['begin_time']%></td>
        <td ><%=data[i]['end_time']%></td>
        <td ><%=data[i]['remark']%></td>
        <td class="text-center">
            <lqf_link><a class="ajax-open" data-url="{:url('Attendance/edit')}"  data-ids="{'id':'<%=data[i]['id']%>'}" data-title="修改">修改</a></lqf_link>
            <lqf_link><a class="ajax-del confirm" data-url="{:url('Attendance/del')}" data-ids="{'id':'<%=data[i]['id']%>'}">删除</a></lqf_link>
        </td>
    </tr>
    <% } %>
</script>
<script type="text/javascript">
    $(document).ready(function () {
        turnPage(1);//页面加载时初始化分页
    });
</script>
<link href="__STATIC__/module/admin/js/plugins/bootstrap-treeview/bootstrap-treeview.min.css" rel="stylesheet">
<script src="__STATIC__/module/admin/js/plugins/bootstrap-treeview/bootstrap-treeview.js"></script>
<script src="__STATIC__/module/admin/js/lib/treeview.js"></script>
<script src="__STATIC__/module/admin/js/lib/daterange.js"></script>
