<body class="gray-bg">
<div class="wrapper wrapper-content animated ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                     <h5>{$page_title}</h5>
                    <div class="ibox-tools"><a href="javascript:void(0);" class="btn btn-xs btn-default btn-help-detail"  data-type="cst_customer"> <i class="fa fa-question-circle"> 操作说明</i></a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <form id="pagerForm" method="post" class="form-inline searchForm">
                            <div class="col-sm-12 m-b-xs">
                                <div class="input-group">
                                    <input type="text" name="keywords" placeholder="输入关键字搜索" class="form-control">
                                </div>
                                <div class="input-group text-left">
                                    <select  name="firmcategory" class="chosen-select chosen-select-typetag" style="width: 200px;">
                                        <option value="">厂商类型</option>
                                        {volist name='dict.firmcategory' id='vo'}
                                        <option value="{$vo['name']}">{$vo['name']}</option>
                                        {/volist}
                                    </select>
                                </div>
                                <div class="input-group text-left">
                                    <select  name="level" class="chosen-select chosen-select-typetag" style="width: 200px;">
                                        <option value="">合作等级</option>
                                        {volist name='dict.level' id='vo'}
                                        <option value="{$vo['name']}">{$vo['name']}</option>
                                        {/volist}
                                    </select>
                                </div>
                                <div class="input-group text-left">
                                    <select  name="agreement" class="chosen-select chosen-select-typetag" style="width: 200px;">
                                        <option value="">合作协议</option>
                                        {volist name='dict.agreement' id='vo'}
                                        <option value="{$vo['name']}">{$vo['name']}</option>
                                        {/volist}
                                    </select>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-btn"> <button type="button" class="btn btn-primary ajaxSearchForm"><i class="fa fa-search"></i> 搜索</button></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-10">
                            <lqf_link><a class="btn btn-info ajax-open"  data-url="{:url('SupSupplier/add')}"><i class="fa fa-plus"></i> 添加</a></lqf_link>
<!--                            <lqf_link><a  class="btn btn-default btn-outline ajax-goto export" target-form="form-inline" data-url="{:url('SupSupplier/download')}"><i class="fa fa-download"></i>导出</a></lqf_link>-->
<!--                            <lqf_link><a  class="btn btn-default btn-outline ajax-open" data-url="{:url('SupSupplier/upload')}"><i class="fa fa-upload"></i>导入</a></lqf_link>-->
                        </div>
                        <div class="col-sm-2 text-right">
                            <a href="javascript:void(0);" class="btn btn-default btn-outline btn-field-set" data-id="{$page_title|default=''}"> <i class="fa fa-columns"></i> 列</a>
                        </div>
                    </div>
                </div>
                <div class="ibox-content table-responsive">
                    <table class="table table-hover sorttable ajax-list-table table-condensed" data-url="{:url('SupSupplier/show_json')}" width="100%">
                        <thead>
                        <tr>
                            <th width="22"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
                            <th width="120" orderField="by_name" class="sort-filed"><span>供应商名称</span></th>
                            <th width="100"><span>联系人及电话</span></th>
                            <th width="80"><span>QQ/微信</span></th>
                            <th width="100"><span>其它联系人</span></th>
                            <th width="80"><span>进货渠道</span></th>
                            <th width="60"><span>是否协议</span></th>
                            <th width="60"><span>厂商类别</span></th>
                            <th width="60"><span>合作级别</span></th>
                            <th width="100"><span>代表品种</span></th>
                            <th width="100"><span>邮寄地址</span></th>
                            <th width="100"><span>备注介绍</span></th>
                            <th width="80">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot class="ibox-content">
                        <tr>
                            <td colspan="10" align="center"></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="tableListTpl" type="text/html">
    <% for(var i=0;i<data.length;i++) {
        visible='';
        if(data[i]['visible']=='1') visible='checked';
    %>
    <tr>
        <td><input name="id" class="checkboxCtrlId" value="<%=data[i]['id']%>" type="checkbox"></td>
        <td class="text-left">
            <a class="ajax-goto" data-url="{:url('SupSupplier/detail_trace')}"  data-ids="{'id':'<%=data[i]['id']%>'}"><%=data[i]['name']%></a>
        </td>
        <td><%=data[i]['linkman']%> <%=data[i]['mobile']%></td>
        <td><%=data[i]['qicq']%> <%=data[i]['weixin']%></td>
        <td><%=data[i]['linkman_other']%></td>
        <td><%=data[i]['channel']%></td>
        <td><%=data[i]['agreement']%></td>
        <td><%=data[i]['firmcategory']%></td>
        <td><%=data[i]['level']%></td>
        <td><%=data[i]['delegate']%></td>
        <td><%=data[i]['address_mail']%></td>
        <td><%=data[i]['remark']%></td>
        <td>
            <p>
                <lqf_link><a class="ajax-open" data-url="{:url('SupSupplier/edit')}"  data-ids="{'id':'<%=data[i]['id']%>'}" data-title="修改">修改</a></lqf_link>
                <lqf_link><a class="ajax-del confirm" data-url="{:url('SupSupplier/del')}" data-ids="{'id':'<%=data[i]['id']%>'}">删除</a></lqf_link>
            </p>
        </td>
    </tr>
    <% } %>
</script>
<script type="text/javascript">
    $(document).ready(function () {
        turnPage(1);//页面加载时初始化分页
    });
</script>
