<!DOCTYPE html>
<html>
#{include file="header.html"}#
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal" method="post" action="#">
                        <input type="hidden" name="id" value="#{$one.id}#">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">工作单位</label>
                            <div class="col-sm-8">
                                <input name="name" class="form-control" type="text" placeholder="请输入工作单位" required value="#{$one.name}#"/>
                                <span class="help-block m-b-none"></span></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">开始时间</label>
                            <div class="col-sm-8">
                                <input name="begin_date" class="form-control datepicker" type="text" placeholder="请输入开始时间"  required value="#{$one.begin_date}#"/>
                                <span class="help-block m-b-none"></span></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">结束时间</label>
                            <div class="col-sm-8">
                                <input name="end_date" class="form-control datepicker" type="text" placeholder="请输入工作职务" required  value="#{$one.end_date}#"/>
                                <span class="help-block m-b-none"></span></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">工作职务</label>
                            <div class="col-sm-8">
                                <input name="position" class="form-control" type="text" placeholder="请输入工作职务" required value="#{$one.position}#"/>
                                <span class="help-block m-b-none"></span></div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-8">
                                <button class="btn  btn-w-m btn-info save-form" type="button">保存数据</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="#{$smarty.const.APP}#/View/template/js/content.js?v=1.0.0"></script>
<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
        //数据保存
        $("body").on("click", ".save-form", function () {
            FormData = $("form").serialize();
            $.ajax({
                type: "POST",
                url: "#{$smarty.const.ACT}#/hrm/HrmStaffSchool/hrm_staff_school_modify/",
                data: FormData,
                dataType: "json",
                success: function (data) {
                    if (data.statusCode == '200') {
                        layer.msg('操作成功', {icon: 1});
                    }
                },
                complete: function () {
                    setTimeout(function () {
                        //关闭窗口
                        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                        parent.layer.close(index);
                    }, 800);
                },
            });
        });
    });
</script>
</body>
</html>
