<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox">
                <div class="ibox-title">{:lang('service list')}</div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table  table-hover">
                            <thead>
                            <tr>
                                <th>{:lang('name')}</th>
                                <th>{:lang('class name')}</th>
                                <th>{:lang('description')}</th>
                                <th>{:lang('version')}</th>
                                <th>{:lang('author')}</th>
                                <th>{:lang('operate')}</th>
                            </tr>
                            </thead>
                            {notempty name='list'}
                            <tbody>
                            {volist name='list' id='vo'}
                            <tr>
                                <td>{$vo.service_name}</td>
                                <td>{$vo.service_class}</td>
                                <td>{$vo.service_describe}</td>
                                <td>{$vo.version}</td>
                                <td>{$vo.author}</td>
                                <td class="col-md-1">
                                    <a href="{:url('serviceList', array('service_name' => $vo['service_class']))}" class="btn"><i class="fa fa-sitemap"></i> {:lang('drive')}</a>
                                </td>
                            </tr>
                            {/volist}
                            </tbody>
                            {else/}
                            <tbody>
                            <tr class="odd">
                                <td colspan="6" class="text-center" valign="top">{:config('empty_list_describe')}</td>
                            </tr>
                            </tbody>
                            {/notempty}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>