<body class="gray-bg">
<div class="wrapper wrapper-content animated ">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5><i class="fa fa-home"></i>客户详细</h5>
            <div class="ibox-tools">
                <button type="button" class="btn btn-xs btn-primary btn-history"><i class="fa fa-reply"></i> 返回
                </button>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-8">
                    <h2>
                        <b>{$info.name}</b>({$info.status})
                    </h2>

                </div>
                <div class="col-sm-4 text-right">
                    <lqf_link>
                        <a class="btn btn-info ajax-open"  data-url="{:url('Assets/edit',array('id'=>$info.id))}" data-calback="void(0);">
                            <i class="fa fa-edit"></i> 编辑
                        </a>
                    </lqf_link>
                </div>
            </div>
            <div class="line-bb"></div>
            <div class="row">
                <div class="col-sm-6">
                    <div class=" ">
                        <p><strong>资产编号：</strong>{$info.assets_no}</p>
                        <p><strong>资产类型：</strong>{$info.type_id}</p>
                        <p><strong>购买日期：</strong>{$info.begin_date}</p>
                        <p><strong>到期日期：</strong>{$info.expire_date}</p>
                        <p><strong>所在位置：</strong>{$info.address}</p>
                        <p><strong>备注说明：</strong>{$info.remark}</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class=" ">
                        <p><strong>创建时间：</strong>{$info.create_time}</p>
                        <p><strong>创建人员：</strong>{$info.create_user_name}</p>
                        <p><strong>使用人员：</strong>{$info.use_user_name}</p>
                    </div>
                </div>
            </div>
            <div class="line-bb"></div>

            <div class="line-bb"></div>
            <div class="row">
                {notempty name='$info.litpic'}
                <div class="col-lg-12">
                    <h4>扫描文件：</h4>
                </div>
                <div class="col-lg-12">
                    {assign name="litpic" value="$info.litpic|default=''|str2arr" /}
                    {volist name='litpic' id='vo'}
                    <a class="fancybox" href="{$vo|get_picture_url}" target="_blank"><img src="{$vo|get_picture_url}"></a>
                    {/volist}
                </div>
                {/notempty}
            </div>
            <div class="row">
                {notempty name='$info.attachment'}
                <div class="line-bb"></div>
                <div class="col-lg-12">
                    <h4>文件附件：</h4>
                </div>
                <div class="col-lg-12">
                    {assign name="attachment" value="$info.attachment|default=''|str2arr" /}
                    {volist name='attachment' id='vo'}
                    <p><a href="{$vo|get_file_url}">{$vo|get_file_url}</a></p>
                    {/volist}
                </div>
                {/notempty}
            </div>

            <!--评论区域  开始-->
            <div class="line-bb"></div>
            <div class="row m-t-lg">
                <div class="col-sm-6">
                    <h3>评论记录：</h3>
                </div>
                <div class="col-sm-6 text-right">
                    <button class="btn btn-white ajax-open" data-url="{:url('AssetsReply/add',array('assets_id'=>$info.id))}" data-calback="getReplyData();">
                        <i class="fa fa-plus"></i>发表评论
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 reply-list-box" data-url="{:url('AssetsReply/show_file_json',array('assets_id'=>$info.id))}">

                </div>
            </div>
            <!--评论区域  结束-->

        </div>
    </div>
</div>
<!--加载数据模板-->
<canvas id="head_canvas_default" style="display:none"></canvas>
<script>
    $(document).ready(function () {
        getReplyData();
    });
    function getReplyData() {
        var target = $('.reply-list-box').attr("data-url");
        var html='';
        $.ajax({
            type: "POST",
            url: target,
            data: {},
            dataType: "json",
            async: false,
            success: function (data) {
                log(data);
                $.each(data,function(key,row) {

                    var str = row.create_user_name;
                    var avatar = textToImg(str);

                    html +='<div class="social-feed-box">\n' +
                        '                <div class="social-avatar">\n' +
                        '                    <a href="" class="pull-left">\n' +
                        '                        <img alt="image" src="'+avatar+'">\n' +
                        '                    </a>\n' +
                        '                    <div class="media-body">\n' +
                        '                        <a href="#">'+ row.create_user_name +'</a>\n' +
                        '                        <small class="text-muted">'+ row.create_time +'</small>\n' +
                        '                    </div>\n' +
                        '                </div>\n' +
                        '                <div class="social-body">\n' +
                        '                    <p>'+ row.remark +'</p>\n' +
                        '                </div>\n' +
                        '                <div class="row">\n' +
                        '                    <div class="col-sm-12 text-right"><p style="padding-right: 10px;">\n' +
                        '                       <a class="ajax-open" data-url="{:url(\'AssetsReply/edit\')}"  data-ids="{\'id\':\'' + row.id + '\'}" data-title="修改" data-calback="getReplyData();">修改</a>\n' +
                        '                       <a class="ajax-get" data-url="{:url(\'AssetsReply/del\')}"  data-ids="{\'id\':\'' + row.id + '\'}" data-title="修改" data-calback="getReplyData();">删除</a>\n' +
                        '                    </p></div>\n' +
                        '                </div>\n' +
                        '            </div>';
                });

                $('.reply-list-box').html(html);
            },
            complete: function () {

            }
        });
    }
</script>