<body class="gray-bg">
<div class="wrapper wrapper-content animated ">
    <div class="row">
        <div class="col-sm-2">
            <div class="ibox">
                <div class="ibox-title"><h5>资产分类 [<a href="{:url('AssetsType/show')}">管理</a>]</h5>
                    <div class="ibox-tools"><a class="refresh-tree">刷新</a></div>
                </div>
                <div class="ibox-content">
                    <div id="left-tree" class="right_centent" data-url="{:url('AssetsType/get_list_tree')}"> </div>
                </div>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{$page_title|default=''}</h5>
                    <div class="ibox-tools">
                        <a href="javascript:void(0);" class="btn btn-xs btn-default btn-help-detail"  data-type="cst_customer">
                            <i class="fa fa-question-circle"> 操作说明</i></a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <form id="pagerForm" method="post" class="form-inline searchForm">
                            <input type="hidden" name="pid" value="">
                            <div class="col-sm-12 text-right">
                                <div class="input-group">
                                    <input type="text" name="begin_rangedate" class="form-control w50 daterange-btn" placeholder="选择购买日期">
                                </div>
                                <div class="input-group">
                                    <input type="text" name="expire_rangedate" class="form-control w50 daterange-btn" placeholder="选择到期时间">
                                </div>
                                <div class="input-group text-left">
                                    <select  name="status" class="chosen-select">
                                        <option value="">资产状态</option>
                                        {volist name='$status_list' id='vo'}
                                        <option value="{$vo['name']}">{$vo['name']}</option>
                                        {/volist}
                                    </select>
                                </div>
                                <div class="input-group">
                                    <input type="text" name="keywords" placeholder="输入关键字搜索" class="form-control">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-btn"> <button type="button" class="btn btn-primary ajaxSearchForm"><i class="fa fa-search"></i> 搜索</button></span>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-btn"> <button type="button" class="btn btn-warning ajaxSearchForm resetForm"><i class="fa fa-recycle"></i> 重置</button></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-10">
                            <lqf_link><a class="btn btn-info ajax-open"  data-url="{:url('Assets/add')}"><i class="fa fa-plus"></i> 添加</a></lqf_link>
                        </div>
                        <div class="col-sm-2 text-right">
                            <a href="javascript:void(0);" class="btn btn-default btn-outline btn-field-set" data-id="{$page_title|default=''}"> <i class="fa fa-columns"></i> 列</a>
                        </div>
                    </div>
                </div>
                <div class="ibox-content table-responsive">
                    <table class="table table-hover sorttable ajax-list-table" data-url="{:url('Assets/show_json')}" width="100%">
                        <thead>
                        <tr>
                            <th width="22"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
                            <th width="100" class=""><span>资产名称</span></th>
                            <th width="80" class=""><span>资产编号</span></th>
                            <th width="60" class=""><span>资产类型</span></th>
                            <th width="60" class=""><span>购买日期</span></th>
                            <th width="60" class=""><span>到期日期</span></th>
                            <th width="60" class=""><span>所在位置</span></th>
                            <th width="60" class=""><span>当前状态</span></th>
                            <th width="70" class=""><span>使用人员</span></th>
                            <th width="100"><span>备注</span></th>
                            <th width="80" class="text-center">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot class="ibox-content">
                        <tr>
                            <td colspan="13" align="center"></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="tableListTpl" type="text/html">
    <% for(var i=0;i<data.length;i++) {
        visible='';
        if(data[i]['visible']=='1') visible='checked';
    %>
    <tr>
        <td><input name="id" class="checkboxCtrlId" value="<%=data[i]['id']%>" type="checkbox"></td>
        <td><a class="ajax-goto" data-url="{:url('Assets/detail')}"  data-ids="{'id':'<%=data[i]['id']%>'}"><%=data[i]['name']%></a></td>
        <td class=""><%=data[i]['assets_no']%></td>
        <td class=""><%=data[i]['type_name']%></td>
        <td class=""><%=data[i]['begin_date']%></td>
        <td class=""><%=data[i]['expire_date']%></td>
        <td class=""><%=data[i]['address']%></td>
        <td class=""><%=data[i]['status']%></td>
        <td class=""><%=data[i]['use_user_name']%></td>
        <td class=""><%=data[i]['remark']%></td>
        <td class="text-center">
            <lqf_link><a class="ajax-open" data-url="{:url('Assets/edit')}"  data-ids="{'id':'<%=data[i]['id']%>'}" data-title="修改">修改</a></lqf_link>
            <lqf_link><a class="ajax-del confirm" data-url="{:url('Assets/del')}" data-ids="{'id':'<%=data[i]['id']%>'}">删除</a></lqf_link>
        </td>
    </tr>
    <% } %>
</script>
<script type="text/javascript">
    $(document).ready(function () {
        turnPage(1);//页面加载时初始化分页
    });
</script>
<link href="__STATIC__/module/admin/js/plugins/bootstrap-treeview/bootstrap-treeview.min.css" rel="stylesheet">
<script src="__STATIC__/module/admin/js/plugins/bootstrap-treeview/bootstrap-treeview.js"></script>
<script src="__STATIC__/module/admin/js/lib/treeview.js"></script>
<script src="__STATIC__/module/admin/js/lib/daterange.js"></script>
