<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content table-responsive">
                    <div class="row">
                        <form id="pagerForm" method="post" class="form-inline searchForm">
                            <div class="col-sm-3 m-b-xs">
                                <lqf_link>
                                    <a class="btn btn-info ajax-open"  data-url="{:url('SysAuth/add')}" data-title="" width="600" height="400"><i class="fa fa-plus"></i> {:lang('add')}</a>
                                </lqf_link>
                            </div>
                            <div class="col-sm-9 m-b-xs text-right">
                                <div class="input-group pd-b-5">
                                    <input type="text" name="keywords" placeholder="{:lang('enter keyword search')}" class="form-control">
                                </div>
                                <div class="input-group">
                  <span class="input-group-btn">
                  <button type="button" class="btn btn-primary ajaxSearchForm"><i class="fa fa-search"></i> {:lang('search')}</button>
                  </span></div>
                            </div>
                        </form>
                    </div>
                    <table class="table table-hover sorttable ajax-list-table" data-url="{:url('SysAuth/show_json')}" width="100%">
                        <thead>
                        <tr>
                            <th width="22"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
                            <th width="200">{:lang('name')}</th>
                            <th>{:lang('description')}</th>
                            <th width="80"  class="text-center">{:lang('sort')}</th>
                            <th width="250"  class="text-center">{:lang('operate')}</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot class="ibox-content">
                        <tr>
                            <td colspan="3" align="center"></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="tableListTpl" type="text/html">
    <% for(var i=0;i<data.length;i++) { %>
    <tr>
        <td><input name="user_id" class="checkboxCtrlId" value="<%=data[i]['id']%>" type="checkbox"></td>
        <td><%=data[i]['name']%></td>
        <td><%=data[i]['intro']%></td>
        <td  class="text-center"><%=data[i]['sort']%>
<!--            <input type="text" data-url="{:url('SysAuth/setSort')}" data-ids="{'id':'<%=data[i]['id']%>'}" class="form-control ajax-sort" value="<%=data[i]['sort']%>">-->
        </td>
        <td class="text-center">

            <lqf_link> <a class="ajax-open" data-url="{:url('SysAuth/MenuAuth')}"  data-ids="{'id':'<%=data[i]['id']%>'}">{:lang('menu authorization')}</a></lqf_link>
            <lqf_link><a class="ajax-open" data-url="{:url('SysAuth/edit')}"  data-ids="{'id':'<%=data[i]['id']%>'}" width="600" height="400">{:lang('modify')}</a></lqf_link>
            <lqf_link><a class="ajax-del confirm" data-url="{:url('SysAuth/del')}" data-ids="{'id':'<%=data[i]['id']%>'}">{:lang('delete')}</a></lqf_link>

        </td>
    </tr>
    <% } %>
</script>
<script type="text/javascript">
    $(document).ready(function () {
        turnPage(1);
    });
</script>